<app-cheat-sheet [cheatSheet]="cheatSheet">
    <p class="card-text">
        <strong><a href="https://wiki.factorio.com/Transport_belt">Belt Throughput</a>:</strong> Items per second (i/s) passed over one belt tile.
    </p>
    <p class="card-text">
        <strong>Belt Density:</strong> Maximum Items fit in one tile. (<strong>7.11 items</strong> for all belts)
    </p>
    <p class="card-text">
        <strong>Note:</strong>
        <kbd class="txt-factorio-red">Red belt</kbd> is exactly twice as fast as a
        <kbd class="txt-factorio-yellow">Yellow belt</kbd>, and a
        <kbd class="txt-factorio-blue">Blue belt</kbd> is exactly three times as fast a
        <kbd class="txt-factorio-yellow">Yellow belt</kbd>.
    </p>

    <div class="row align-items-center">
        <div class="col-12 col-lg-6">
            <table class="table table-sm table-hover fixed-width">
                <caption class="text-center">Belt Throughtput</caption>
                <thead class="text-center">
                    <tr>
                        <th>Tier</th>
                        <th>Single Side</th>
                        <th>Both Sides</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let item of sheetData">
                        <td>
                            <app-factorio-icon *ngFor="let iconId of item.icons" [icon]="dataService.getFactorioIcon(iconId)"></app-factorio-icon>
                        </td>
                        <td>{{item.thoughput / 2 | number:'1.3-3'}} i/s</td>
                        <td>{{item.thoughput | number:'1.3-3'}} i/s</td>
                        <td><strong>{{item.multiplier}}x</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-12 col-lg-6 text-center">
            <p class="txt-muted">All belts can hold up to <strong>7.11 items</strong> on each tile<br>
                (In game oscillates b/w 6 and 8)
            </p>
            <img src="{{APP_SETTINGS.links.getLocalImagePath('belt-signal-circuit.jpg')}}" class="img-fluid rounded" title="2x3 reactor setup">
        </div>
    </div>
</app-cheat-sheet>
