<app-cheat-sheet [cheatSheet]="cheatSheet">
    <p class="card-text">
        What are the best things to invest productivity modules into?
        <br> Based on
        <a href="https://docs.google.com/spreadsheets/d/1M3bbVKSs3IWzLtBHEbe0iJcbnh7raERDcL6dOh1y3oY/" target="_blank"
            rel="noopener">
            MadZuri's <abbr title="Return on Investment">ROI</abbr> Calculations
        </a>.
    </p>

    <table class="table table-sm table-hover fixed-width text-center">
        <caption>Best Payoff Time</caption>
        <thead>
            <tr>
                <!-- <th class="text-center">Priority</th> -->
                <th class="text-center">Product</th>
                <th class="text-center">
                    <app-factorio-icon [icon]="dataService.getFactorioIcon('Speed_module_3', 1)">
                    </app-factorio-icon>
                    <app-factorio-icon [icon]="dataService.getFactorioIcon('Productivity_module_3', 3)">
                    </app-factorio-icon>
                </th>
                <th class="text-center">
                    <app-factorio-icon [icon]="dataService.getFactorioIcon('Productivity_module_3', 4)">
                    </app-factorio-icon>
                </th>
                <th class="text-center">
                    <app-factorio-icon [icon]="dataService.getFactorioIcon('Beacon', '8x8')">
                    </app-factorio-icon>
                </th>
                <th class="text-center">
                    <app-factorio-icon [icon]="dataService.getFactorioIcon('Beacon', '12')">
                    </app-factorio-icon>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of sheetData; let idx=index">
                <!-- <td>{{idx}}</td> -->
                <td>
                    <app-factorio-icon [icon]="dataService.getFactorioIcon(data.product)">
                    </app-factorio-icon>
                </td>
                <td>{{ data.payoff_speed_prod | time }}</td>
                <td>{{ data.payoff_prod | time }}</td>
                <td>{{ data.payoff_beacon_8x8 | time }}</td>
                <td>{{ data.payoff_beacon_12 | time }}</td>
            </tr>
        </tbody>
    </table>
</app-cheat-sheet>
