<app-cheat-sheet [cheatSheet]="cheatSheet">
  <div class="row align-items-center">
    <div class="col-12 col-lg-4">
      <ul>
        <li>
          <a href="https://wiki.factorio.com/Mining" target="_blank" rel="noopener">Mining rate</a>
          relies on drill
          <i>mining speed</i>
          divided by ore
          <i>mining time</i>.
        </li>
        <li>
          See various
          <a href="https://imgur.com/a/LsUJ3id" target="_blank" rel="noopener">mining arrangements</a>
          with varying
          <a href="https://www.reddit.com/r/factorio/comments/ig96gm/big_book_of_mining_blueprints/" target="_blank" rel="noopener"
            >mining coverage</a
          >.
        </li>
        <li>
          <a href="https://wiki.factorio.com/Mining_productivity_(research)" target="_blank" rel="noopener">Mining productivity</a>
          research increases the output of all mining drills and pumpjacks.
        </li>
        <li>
          Refer to
          <a href="https://kirkmcdonald.github.io/calc.html#mprod=100&items=iron-ore:r:15" target="_blank" rel="noopener"
            >kirk's calculator</a
          >
          for more information on productivity bonuses.
          <span class="text-muted small">Note: mining productivity bonus on settings page</span>
        </li>
      </ul>

      <p>
        To mine
        <a href="https://wiki.factorio.com/Uranium_ore" target="_blank" rel="noopener">uranium ore</a>, you must supply the mining drill
        with sulfuric acid.
      </p>

      <p class="text-center text-muted">
        Per 10 uranium ore mined, 10 sulfuric acid are consumed.<br />
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_UraniumOre, 10)"></app-factorio-icon>
        <i class="fas fa-arrows-alt-h text-muted"></i>
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Fluid_SulfuricAcid, 10)"></app-factorio-icon>
      </p>
    </div>

    <div class="col-12 col-lg-8">
      <table class="table table-sm table-hover fixed-width">
        <caption class="text-center">
          Miners needed to fill a belt
          <span class="d-inline-not-print">*</span>
          <div class="input-group d-none-print fixed-width">
            <span class="input-group-addon">
              <app-factorio-icon
                [icon]="dataService.getFactorioIcon(FactorioIcons.Technology_MiningProductivity, prodBonusLevel)"
              ></app-factorio-icon>
              Prod lvl
            </span>
            <input
              class="form-control"
              [(ngModel)]="prodBonusLevel"
              (change)="onInputChange()"
              (keyup)="onInputChange()"
              (mouseup)="onInputChange()"
              type="number"
              min="{{ inputMin }}"
              step="{{ inputStep }}"
            />
            <span class="input-group-addon">Productivity {{ productivityPercent | number : '1.0-0' }}%</span>
          </div>
        </caption>

        <thead>
          <tr>
            <ng-container *ngFor="let col of miningTableColumns; let i = index">
              <th [ngStyle]="{ width: i === 0 ? '128px' : null }">
                <ng-container *ngIf="col.type === 'Text'">
                  {{ col.name }}
                </ng-container>
                <ng-container *ngIf="col.type === FactorioIcons || col.type === 'FactorioSaIcon'">
                  <app-factorio-icon
                    [icon]="dataService.getFactorioIcon(col.name)"
                    [spaceAge]="col.type === 'FactorioSaIcon'"
                  ></app-factorio-icon>
                </ng-container>
              </th>
            </ng-container>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let group of mineTableRowGroups">
            <!-- Ore group -->
            <tr>
              <td [attr.rowspan]="1 + group.mineData.length">
                <div>
                  <ng-container *ngFor="let ore of group.ores">
                    <app-factorio-icon
                      [icon]="dataService.getFactorioIcon(ore.iconId, ore.miningTime + 's')"
                      [spaceAge]="ore.spaceAge"
                    ></app-factorio-icon>
                  </ng-container>
                </div>
              </td>
            </tr>

            <!-- Drill data for ores -->
            <tr *ngFor="let row of group.mineData">
              <td>
                <div>
                  <app-factorio-icon [icon]="dataService.getFactorioIcon(row.minerIconId)" [spaceAge]="row.spaceAge"></app-factorio-icon>
                </div>
              </td>
              <td *ngFor="let beltRate of row.beltRates">
                {{ beltRate | ceiling | number : '1.0-0' }}
              </td>
              <td>{{ row.rate | number : '1.2-2' }} i/s</td>
            </tr>
          </ng-container>
        </tbody>
      </table>

      <p class="text-center">
        <kbd>Miners = Belt Throughput / (Mining Rate * Productivity)</kbd>
        <br />
        <span class="text-muted small d-inline-not-print">* Assuming no mining productivity bonus</span>
      </p>
    </div>
  </div>

  <hr />

  <div class="row align-items-center">
    <div class="col text-center">
      <img
        class="img-fluid rounded"
        loading="lazy"
        src="{{ APP_INFO.links.getLocalImagePath('mining-direct-feed.webp') }}"
        alt="Mining Direct Feed"
        title="Mining Direct Feed"
      />
      <strong>Tip:</strong>
      Mining drills will output resources directly without the need of inserters.
    </div>
  </div>
</app-cheat-sheet>
