<div class="container">
  <h2>Overview</h2>
  <hr />
  <p class="lead">
    <i class="fa fa-cog" aria-hidden="true"></i>
    <a href="https://www.factorio.com/" target="_blank" rel="noopener"> Factorio </a>
    is a game in which you build and maintain factories.
    <br />
    <small class="text-muted">
      This is a compendium of the most common Factorio facts as of v{{ APP_SETTINGS.data_version }}
      release.
    </small>
  </p>

  <p>
    A huge thanks to to all the
    <a href="https://github.com/deniszholob/factorio-cheat-sheet/graphs/contributors" target="_blank" rel="noopener">contributors</a>
    on
    <a href="https://github.com/deniszholob/factorio-cheat-sheet/" target="_blank" rel="noopener">GitHub</a>, as well as the community who
    made the
    <a href="https://github.com/deniszholob/factorio-cheat-sheet/releases">previous cheat sheets</a>
    and other resources; such as the
    <a href="https://wiki.factorio.com/" target="_blank" rel="noopener">Wiki</a>,
    <a href="https://www.reddit.com/r/factorio" target="_blank" rel="noopener">Reddit</a>, and
    <a href="https://discordapp.com/invite/factorio" target="_blank" rel="noopener">Factorio Discord</a>
    from which this is all based on.
    <br />
    This is only a sliver of the info available, for more in depth information please visit those resources.
  </p>

  <div class="row">
    <div class="col-12">
      <h5>Notes</h5>
      <ul>
        <li>
          <strong>New Players</strong>
          make sure to check the
          <a [routerLink]="[]" fragment="links">Links</a>
          and
          <a [routerLink]="[]" fragment="tips">Tips</a>
          Sections
        </li>
        <li>
          The
          <a href="https://wiki.factorio.com/" target="_blank" rel="noopener">Wiki</a>
          has the latest updates, if there is a discrepancy in the data, please
          <a href="https://github.com/deniszholob/factorio-cheat-sheet/issues" target="_blank" rel="noopener"> open a issue on GitHub </a>
          so I can sync up with the Wiki.
        </li>
        <li>Any section that deals with ratios assumes no modules are used, and consistent assembly machines.</li>
        <li>
          The ratio sections are a starting point only, for advanced ratios use a
          <a [routerLink]="[]" fragment="CommunityLinks">calculator</a>.
        </li>
        <li>Any of the sections can be collapsed/expanded by toggling the top right corner (-/+).</li>
        <li>
          Please report any errors/suggestions on
          <a href="https://github.com/deniszholob/factorio-cheat-sheet/issues" target="_blank" rel="noopener"> GitHub </a>,
          <a href="https://discord.gg/PkyzXzz" target="_blank" rel="noopener">Discord</a>, or
          <a href="https://www.reddit.com/r/factorio/comments/zun4wh/factorio_cheat_sheet_update_dec_2022/" target="_blank" rel="noopener">
            Reddit </a
          >.
        </li>
        <li>
          <a href="https://github.com/deniszholob/factorio-cheat-sheet/issues" target="_blank" rel="noopener"> List of known Issues </a>
        </li>
        <li>
          Also check out the
          <a href="https://deniszholob.github.io/satisfactory-cheat-sheet/" target="_blank" rel="noopener"> Satisfactory Cheat Sheet </a>
          <br />
          and the
          <a href="https://deniszholob.github.io/dyson-sphere-program-cheat-sheet/" target="_blank" rel="noopener">
            Dyson Sphere Program Cheat Sheet
          </a>
        </li>
      </ul>

      <hr />

      <div class="text-center">
        <a class="lead" href="https://github.com/deniszholob/factorio-cheat-sheet/releases" target="_blank" rel="noopener noreferrer">
          Old Cheat Sheets and PDF downloads
        </a>
        <!-- <p>
          <span class="text-muted">
            The
            <a href="https://github.com/deniszholob/factorio-cheat-sheet/releases">Old Cheat Sheets</a>
            are also available below.
          </span>
          <br />
          You can also
          <a href="{{ APP_SETTINGS.pdfs[0].url }}" target="_blank" rel="noopener">download the pdf</a>
          version or a
          <a href="{{ APP_SETTINGS.pdfs[1].url }}" target="_blank" rel="noopener">light print</a>
          version!
        </p> -->
        <p class="text-muted">If you find the cheat sheet useful, you can</p>
        <div class="support-buttons">
          <a class="btn btn-outline-primary" href="https://ko-fi.com/deniszholob" target="_blank" rel="noopener">Buy me Ko-fi </a>
          <a class="btn btn-outline-primary" href="https://patreon.com/deniszholob" target="_blank" rel="noopener">Support on Patreon </a>
        </div>
      </div>
    </div>
  </div>
</div>
