<div class="container">
  <h2>Overview</h2>
  <hr />
  <p class="lead">
    <span>
      A summary of common
      <a href="https://www.factorio.com/" target="_blank" rel="noopener">Factorio</a> facts, based on Factorio version
      {{ APP_INFO.data_version }}.
    </span>
    <br />
    <small class="text-muted">
      Please report any errors or suggestions on
      <a href="https://github.com/deniszholob/factorio-cheat-sheet/issues" target="_blank" rel="noopener"> GitHub</a> or
      <a href="https://discord.gg/PkyzXzz" target="_blank" rel="noopener">Discord</a>.
    </small>
  </p>

  <div class="row">
    <div class="col-12">
      <ul>
        <li>
          New Players should check the
          <a [routerLink]="[]" fragment="links">Links</a>
          and
          <a [routerLink]="[]" fragment="tips">Tips</a>
          Sections.
        </li>
        <li>
          The
          <a href="https://wiki.factorio.com/" target="_blank" rel="noopener">Factorio Wiki</a>
          has the latest data. If the cheat sheet shows different data than the Wiki, please
          <a href="https://github.com/deniszholob/factorio-cheat-sheet/issues" target="_blank" rel="noopener"> open a issue on GitHub</a>.
        </li>
        <li>Any of the sections can be collapsed/expanded by toggling the top right corner (-/+).</li>
        <li>
          Space Age-only content is marked with this icon:
          <img
            src="https://wiki.factorio.com/images/thumb/Space_age_icon.png/16px-Space_age_icon.png"
            alt="Space Age Icon"
            style="width: 16px; height: 16px"
          />.
        </li>
        <li>
          <a href="https://github.com/deniszholob/factorio-cheat-sheet/issues" target="_blank" rel="noopener"> List of known Issues</a>.
        </li>
        <li>
          Also check out the
          <a href="https://deniszholob.github.io/satisfactory-cheat-sheet/" target="_blank" rel="noopener"> Satisfactory Cheat Sheet</a>,
          and the
          <a href="https://deniszholob.github.io/dyson-sphere-program-cheat-sheet/" target="_blank" rel="noopener">
            Dyson Sphere Program Cheat Sheet</a
          >.
        </li>
      </ul>

      The ratios on this site assume:
      <ul>
        <li>Plain assemblers. No modules in the assemblers or in beacons affecting your assemblers.</li>
        <li>The assemblers are crafting continuously.</li>
      </ul>
      The ratios are a baseline. For precise ratios, please use a <a [routerLink]="[]" fragment="CommunityLinks">calculator</a>.
      <hr />

      <div class="text-center">
        <a class="lead" href="https://github.com/deniszholob/factorio-cheat-sheet/releases" target="_blank" rel="noopener noreferrer">
          Old Cheat Sheets and PDF downloads
        </a>

        <p class="text-muted">If you find the cheat sheet useful, you can:</p>
        <div class="support-buttons">
          <a class="btn btn-outline-primary" href="https://ko-fi.com/deniszholob" target="_blank" rel="noopener">
            Buy me Ko-fi
            <i class="{{ APP_INFO.kofi.icon }}"></i>
          </a>
          <a class="btn btn-outline-primary" href="https://patreon.com/deniszholob" target="_blank" rel="noopener">
            Support me on Patreon
            <i class="{{ APP_INFO.patreon.icon }}"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <p>A huge thank you to:</p>

  <ul>
    <li>
      <a href="https://github.com/deniszholob/factorio-cheat-sheet/graphs/contributors" target="_blank" rel="noopener"
        >all the contributors on GitHub</a
      >,
    </li>
    <li>
      <a href="https://github.com/deniszholob/factorio-cheat-sheet/releases">the community that helped create the older cheat sheets</a>,
    </li>
    <li><a href="https://wiki.factorio.com/" target="_blank" rel="noopener">the Factorio Wiki</a>,</li>
    <li><a href="https://www.reddit.com/r/factorio" target="_blank" rel="noopener">the Factorio subreddit</a>,</li>
    <li><a href="https://discordapp.com/invite/factorio" target="_blank" rel="noopener">our Factorio Discord</a>.</li>
  </ul>

  This cheat sheet summarizes the important info about Factorio. For more details, please use the sources listed above.
  <hr />
</div>
