<div class="side-nav" id="mySidenav" [class.open]="isNavOpen">
  <div class="nav-header">
    <!-- <a class="close-btn" [class.d-none]="doKeepOpen()" (click)="closeNav()" href="javascript:void(0)">&times;</a> -->
    <div class="row">
      <div class="col-6 text-center">
        <button class="btn btn-primary" (click)="collapseAllSheets()">Collapse All</button>
      </div>
      <div class="col-6 text-center">
        <button class="btn btn-primary" (click)="expandAllSheets()">Expand All</button>
      </div>
    </div>
  </div>
  <div class="nav-contents">
    <a [routerLink]="[]" [fragment]="'Top'" (click)="closeNav()">Top</a>
    <a *ngFor="let sheet of sheetIds" [routerLink]="[]" [fragment]="sheet" (click)="clickedLink(sheet)">{{ sheetName(sheet) }}</a>
  </div>

  <!-- Use any element to open the side-nav -->
  <div class="nav-opener" [class.closed]="isNavOpen" [class.d-none]="doKeepOpen()" (click)="toggleNav()">
    <i class="fas fa-angle-right" [class.d-none]="!isNavOpen"></i>
    <i class="fas fa-angle-left" [class.d-none]="isNavOpen"></i>
  </div>
</div>
