<div class="side-nav" id="mySidenav" [class.open]="isNavOpen">
  <div class="nav-header">
    <!-- <a class="close-btn" [class.d-none]="doKeepOpen()" (click)="closeNav()" href="javascript:void(0)">&times;</a> -->
    <div class="row">
      <div class="col-6 text-center">
        <button class="btn btn-primary" (click)="collapseAllSheets()">Collapse All</button>
      </div>
      <div class="col-6 text-center">
        <button class="btn btn-primary" (click)="expandAllSheets()">Expand All</button>
      </div>
    </div>
  </div>

  <div class="nav-contents">
    <a [routerLink]="[]" [fragment]="'Top'" (click)="closeNav()">
      <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Arrows_UpArrow)" [size]="'sm'"></app-factorio-icon>
      <span>Top</span>
    </a>
    <a *ngFor="let nav of navSheetData" [routerLink]="[]" [fragment]="nav.sheetId" (click)="clickedLink(nav.sheetId)">
      <app-factorio-icon [icon]="dataService.getFactorioIcon(nav.sheetIconId)" [size]="'sm'"></app-factorio-icon>
      <span>{{ nav.title }}</span>
    </a>
  </div>

  <!-- Use any element to open the side-nav -->
  <div class="nav-opener" [class.closed]="isNavOpen" [class.d-none]="doKeepOpen()" (click)="toggleNav()">
    <div [class.d-none]="!isNavOpen">
      <i class="fas fa-lg fa-angle-right"></i>
    </div>
    <div [class.d-none]="isNavOpen">
      <i class="fas fa-xl fa-angle-left"></i>
    </div>
  </div>
</div>
