<app-cheat-sheet [cheatSheet]="cheatSheet">

    <table class="table table-sm table-hover fixed-width">
        <caption class="text-center">
            Suggested
            <a href="https://www.reddit.com/r/factorio/comments/5e3uuf/what_is_your_color_scheme_for_trains/"
                target="_blank" rel="noopener">
                locomotive colors
            </a> based on cargo
            <div class="input-group">
                <input class="form-control d-none-print" type="text" placeholder="Filter" #filterInput (keyup)="filter(filterInput.value)" />
            </div>
        </caption>
        <thead class="text-left">
            <tr>
                <th>
                    Train Type
                </th>
                <th>
                    RGB String
                </th>
                <th>
                    Color
                </th>
            </tr>
        </thead>
        <tbody>
            <caption *ngIf="!displayedData || displayedData.length === 0" class="d-flex d-none-print">Nothing found.</caption>
            <tr *ngFor="let item of displayedData">
                <td>
                    <app-factorio-icon [icon]="dataService.getFactorioIcon(item.icon)"></app-factorio-icon>
                    {{item?.type}}
                </td>
                <td>{{item.rgb[0]}}, {{item.rgb[1]}}, {{item.rgb[2]}}</td>
                <td>
                    <i class="color-circle" [ngStyle]="getColorStyle(item.rgb)"></i>
                </td>
            </tr>
        </tbody>
    </table>

</app-cheat-sheet>
