<app-cheat-sheet [cheatSheet]="cheatSheet">

    <p class="card-text">
        <strong>Description: </strong> First Item represents the type of machine thats expected to assemble the following
        components.
        <br> Following items represent the amount of machines needed making them. If there is no machine mixing (assemblers/chemical
        plants/furnaces) then ratios stay the same b/w assembly tiers.<br>
    </p>
    <p class="card-text">
        <strong>For example:</strong> To make rails, the right ratio is 1 iron stick assembler feeding 2 rail assemblers.
        <br> Using the level 3 assemblers you can produce 10 rails every second.
    </p>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="list-group fixed-width">
                <div *ngFor="let data of sheetData?.scienceRatios" class="list-group-item">
                    <ng-container *ngFor="let item of data; let idx=index">
                        <app-factorio-icon *ngIf="item.iconId" [icon]="dataService.getFactorioIcon(item?.iconId, item?.count)"></app-factorio-icon>
                        <span *ngIf="idx == 0"> <i class="fa fa-arrows-h txt-muted" aria-hidden="true"></i> </span>
                        <span *ngIf="item.comment"><br>*{{item?.comment}}</span>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="list-group fixed-width">
                <div *ngFor="let data of sheetData?.electronicsRatios" class="list-group-item">
                    <ng-container *ngFor="let item of data; let idx=index">
                        <app-factorio-icon *ngIf="item.iconId" [icon]="dataService.getFactorioIcon(item?.iconId, item?.count)"></app-factorio-icon>
                        <span *ngIf="idx == 0"> <i class="fa fa-arrows-h txt-muted" aria-hidden="true"></i> </span>
                        <span *ngIf="item.comment" class="txt-muted"><br>*{{item?.comment}}</span>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="list-group fixed-width">
                <div *ngFor="let data of sheetData?.productionRatios" class="list-group-item">
                    <ng-container *ngFor="let item of data; let idx=index">
                        <app-factorio-icon [icon]="dataService.getFactorioIcon(item?.iconId, item?.count)"></app-factorio-icon>
                        <span *ngIf="idx == 0"> <i class="fa fa-arrows-h txt-muted" aria-hidden="true"></i> </span>
                        <span *ngIf="item.comment" class="txt-muted"><br>{{item?.comment}}</span>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="list-group fixed-width">
                <div *ngFor="let data of sheetData?.miscRatios" class="list-group-item">
                    <ng-container *ngFor="let item of data; let idx=index">
                        <app-factorio-icon [icon]="dataService.getFactorioIcon(item?.iconId, item?.count)"></app-factorio-icon>
                        <span *ngIf="idx == 0"> <i class="fa fa-arrows-h txt-muted" aria-hidden="true"></i> </span>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <h5 id="rocket">Rocket Components</h5>
    <div class="row align-items-center">
        <p class="col-12 col-sm-6 text-center">
            <span class="txt-muted">Rocket Ratio</span><br>
            <ng-container *ngFor="let item of sheetData?.totalRocketComponentsRatio">
                <app-factorio-icon [icon]="dataService.getFactorioIcon(item?.iconId, item?.count)"></app-factorio-icon>
            </ng-container>
        </p>

        <p class="col-12 col-sm-6 text-center">
            <span class="txt-muted">Rocket Part Ratio</span><br>
            <ng-container *ngFor="let item of sheetData?.rocketPartRatio">
                <app-factorio-icon [icon]="dataService.getFactorioIcon(item?.iconId, item?.count)"></app-factorio-icon>
            </ng-container>
        </p>
    </div>

    <p>
        A Rocket needs 100 <a href="https://wiki.factorio.com/Rocket_part">Rocket Parts</a>.
        <br>With no productivity modules a rocket needs 1000 of each component of the rocket part + the requirements for the <a href="https://wiki.factorio.com/Satellite">satellite</a>.
        <br>This is a ratio of 1100:1050:1000 or simplified of 22:21:20 (divide by 50).
        <br>As these components all have the same crafting time, this ratio applies.
    </p>
    <p>
        As the satellite can't get productivity bonus, you need a ratio of
        <a href="http://doomeer.com/factorio/#s1132bbbbbbbbbbbbbb40rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrgrgr100rgr1">~814:764:714</a>
        per rocket (to be precise: 5700:5350:5000 per 7 rockets), which makes it a ratio of 114:107:100. (4x lvl 3 prod modules in silo, no speed beacons)
    </p>

</app-cheat-sheet>
