<app-cheat-sheet [cheatSheet]="cheatSheet">
  <p>
    <i class="fa fa-exclamation" aria-hidden="true"></i>
    Section roughly updated for 2.0, but needs validation
  </p>
  <br />
  <div class="row">
    <div class="col-12 col-lg-8">
      <ul>
        <li>
          <a href="https://wiki.factorio.com/Fluid_wagon" target="_blank" rel="noopener">Fluid wagons</a>
          require at least one pump and at most 3 pumps per fluid wagon.
        </li>
        <li>
          If more than 3 pumps can be active on the fluid wagon, only 3 will “latch on” and be in use with the remaining pumps inactive.
        </li>
        <li>
          <a href="https://wiki.factorio.com/Pump#Throughput" target="_blank" rel="noopener">Pumps</a>
          and Storage Tanks have a maximum throughput of
          {{ sheetData?.pumpRate | number }}
          fluid/s.
        </li>
        <li>Pipelines are limited to a 250x250 area before needing a pump</li>
        <li class="line-through">Using underground pipes counts as less entities then if straight pipe for same distance.</li>
        <li>
          Fluid wagons can hold
          {{ sheetData?.fluidWagonSize | number }}
          units of fluids which is equal to
          {{ sheetData ? sheetData.fluidWagonSize / sheetData.storageTankSize : '???' }}
          <a href="https://wiki.factorio.com/Storage_tank" target="_blank" rel="noopener">Storage Tanks</a>.

          <div class="row">
            <div class="col-6 text-center">
              <app-factorio-icon [icon]="dataService.getFactorioIcon('Fluid_wagon', 1)"></app-factorio-icon>
              <app-factorio-icon
                [icon]="dataService.getFactorioIcon('Storage_tank', sheetData ? sheetData.fluidWagonSize / sheetData.storageTankSize : '')"
              ></app-factorio-icon>
            </div>
            <div class="col-6 text-center">
              <app-factorio-icon [icon]="dataService.getFactorioIcon('Pipe', '250x250')"></app-factorio-icon>
              <app-factorio-icon [icon]="dataService.getFactorioIcon('Pump', 1)"></app-factorio-icon>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-12 col-lg-4 text-center">
      <table class="table table-sm table-hover fixed-width" style="max-width: 300px">
        <caption class="text-center">
          Direct connection (no pipes)
        </caption>
        <thead class="text-center">
          <tr>
            <th>
              <app-factorio-icon [icon]="dataService.getFactorioIcon('Pump')"></app-factorio-icon>
            </th>
            <th>Loading &amp; Unloading Times for {{ sheetData?.fluidWagonSize | number }} fluid</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let item of theoreticalTransferTimes">
            <td>
              {{ item?.pumps }}
            </td>
            <td>{{ item?.transferTime | number }}s</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br />
  <hr />

  <div class="row align-items-center justify-content-around">
    <div class="col text-center col-print-3">
      <span
        ><strong>Tanker-Pump Alignment <a [routerLink]="[]" fragment="note-alignment">*</a></strong></span
      ><br />
      <video
        class="img-fluid rounded"
        autoplay
        muted
        loop
        src="{{ APP_INFO.links.getLocalImagePath('fluid-wagon-alignment.webm') }}"
        alt="Tanker-Pump Alignment"
        title="Tanker-Pump Alignment"
      ></video>
    </div>
    <br />
    <div class="col text-center col-print-3">
      <span><strong>Example Fast Transfer Build</strong></span
      ><br />
      <img
        class="img-fluid rounded"
        loading="lazy"
        src="{{ APP_INFO.links.getLocalImagePath('fluid-wagon-fastest-transfer.webp') }}"
        alt="Example Fast Transfer Build"
        title="Example Fast Transfer Build"
      />
    </div>
    <br />
  </div>
  <p id="note-alignment">*Trains snap into position when placed at train stations.</p>

  <hr class="print-page-break" />
</app-cheat-sheet>
