.btn-primary {
    background-color: $c-pallette-accent;
    border-color: $c-pallette-accent;
    color: $c-pallette-neutral-dark;
    font-weight: bold;
    &:hover {
        background-color: $c-pallette-accent-dark;
        border-color: $c-pallette-accent-dark;
        color: $c-pallette-neutral-dark;
    }
    &.focus, &:focus {
        box-shadow: 0 0 0 3px rgba(255, 120, 0, 0.5);
    }
    &:active, &.active {
        background-color: $c-pallette-accent-dark;
        border-color: $c-pallette-accent-dark;
    }
}
