// Pallete Colors
.txt-nuetral-dark {
    color: $c-pallete-nuetral-dark;
}
.bg-nuetral-dark {
    background-color: $c-pallete-nuetral-dark;
}
.txt-nuetral {
    color: $c-pallete-nuetral;
}
.bg-nuetral {
    background-color: $c-pallete-nuetral;
}
.txt-nuetral-light {
    color: $c-pallete-nuetral-light;
}
.bg-nuetral-light {
    background-color: $c-pallete-nuetral-light;
}
.txt-accent {
    color: $c-pallete-accent;
}
.bg-accent {
    background-color: $c-pallete-accent;
}
.txt-accent-dark {
    color: $c-pallete-accent-dark;
}
.bg-accent-dark {
    background-color: $c-pallete-accent-dark;
}
.txt-muted {
    color: $c-pallete-text-muted;
}
.bg-muted {
    background-color: $c-pallete-text-muted;
}
.txt-transp-light {
    color: $c-pallete-transp-light;
}
.bg-transp-light {
    background-color: $c-pallete-transp-light;
}
.txt-transp-medium {
    color: $c-pallete-transp-medium;
}
.bg-transp-medium {
    background-color: $c-pallete-transp-medium;
}
.txt-transp-heavy {
    color: $c-pallete-transp-heavy;
}
.bg-transp-heavy {
    background-color: $c-pallete-transp-heavy;
}

// Factorio Colors
.txt-factorio-gray {
    color: $color-factorio-gray;
}
.bg-factorio-gray {
    background-color: $color-factorio-gray;
}
.txt-factorio-green {
    color: $color-factorio-green;
}
.bg-factorio-green {
    background-color: $color-factorio-green;
}
.txt-factorio-light-green {
    color: $color-factorio-light-green;
}
.bg-factorio-light-green {
    background-color: $color-factorio-light-green;
}
.txt-factorio-yellow {
    color: $color-factorio-yellow;
}
.bg-factorio-yellow {
    background-color: $color-factorio-yellow;
}
.txt-factorio-yellow-muted {
    color: $color-factorio-yellow-muted;
}
.bg-factorio-yellow-muted {
    background-color: $color-factorio-yellow-muted;
}
.txt-factorio-red {
    color: $color-factorio-red;
}
.bg-factorio-red {
    background-color: $color-factorio-red;
}
.txt-factorio-red-muted {
    color: $color-factorio-red-muted;
}
.bg-factorio-red-muted {
    background-color: $color-factorio-red-muted;
}
.txt-factorio-blue {
    color: $color-factorio-blue;
}
.bg-factorio-blue {
    background-color: $color-factorio-blue;
}
.txt-factorio-blue {
    color: $color-factorio-blue;
}
.bg-factorio-blue-dark {
    background-color: $color-factorio-blue-dark;
}
.txt-factorio-blue-dark {
    color: $color-factorio-blue-dark;
}
