.input-group-addon {
    color: $c-pallete-text;
    background-color: $c-pallete-transp-light;
    border-color: $c-pallete-transp-light;
}

.form-control {
    color: $c-pallete-text;
    background-color: $c-pallete-nuetral;
    border-color: $c-pallete-transp-light;

    &:focus {
        color: $c-pallete-text;
        background-color: $c-pallete-nuetral;
        border-color: $c-pallete-accent;
    }
}

.form-control:disabled, .form-control[readonly] {
    background-color: $c-pallete-nuetral;
    color: $c-pallete-text-muted;
}

.merged-input-group {
    // .input-group:not(:first-child) > * {
    //     border-top: none;
    // }
    .input-group:not(:first-child):not(:last-child) > * {
        border-radius: 0;
    }
    .input-group:first-child > * {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .input-group:last-child > * {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
