.intro {
    display: block;
    height: 100%;
    border-bottom: 1px solid $c-pallette-accent;

    .banner {
        background-color: $c-pallette-transp-light;
        display: flex;
        text-align: center;
        height: 90px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
        }

        h1 {
            text-transform: uppercase;
            text-shadow: 0px 0px 8px $c-pallette-transp-heavy;

            small {
                text-transform: none;
            }
        }
    }

    .greeter-img {
        display: flex;

        box-shadow: inset 0 25px 25px -20px $c-pallette-transp-heavy;

        background-color: $c-pallette-transp-light;
        background-image: url("assets/icons/cheat-sheet-banner.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        height: 20vh;
        min-height: 100px;
        max-height: 200px;
    }
}
