::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px $c-pallette-transp-light;
    border-radius: 10px;
    background-color: $c-pallette-neutral;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: $c-pallette-neutral;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px $c-pallette-transp-light;
    background-color: $c-pallette-accent-dark;
}
