table {
    caption {
        caption-side: top;
        text-align: center;
    }

    thead.text-center > tr > th {
        text-align: center;
    }
}


.table > tbody > tr > td {
    vertical-align: middle;
}
.table:not(.table-bordered)>caption+thead>tr:first-child>td,
.table:not(.table-bordered)>caption+thead>tr:first-child>th,
.table:not(.table-bordered)>colgroup+thead>tr:first-child>td,
.table:not(.table-bordered)>colgroup+thead>tr:first-child>th,
.table:not(.table-bordered)>thead:first-child>tr:first-child>td,
.table:not(.table-bordered)>thead:first-child>tr:first-child>th{
    border-top: 0;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    border-color: $c-pallete-nuetral2;
}
.table-bordered,
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    border-color: $c-pallete-nuetral2;
}

.table-hover > tbody > tr:hover {
    background-color: inherit;
}

.table-hover {
    tr:hover td {
        transition: 0.2s;
        &:not([rowspan]) {
            background-color: $c-pallete-transp-light;
        }
    }
}
