$c-pallete-nuetral-dark: #141516;
$c-pallete-nuetral: #747474;
$c-pallete-nuetral-light: #FAF9F5;
$c-pallete-accent: #FF8400;
$c-pallete-accent-dark: #C25400;


$color-factorio-gray: #929292;
$color-factorio-green: #54813f;
$color-factorio-light-green: #808038;
$color-factorio-yellow: #d8cc44;
$color-factorio-yellow-muted: #a8923d;
$color-factorio-red: #d53c1b;
$color-factorio-red-muted: #894e49;
$color-factorio-blue: #2768bc;
$color-factorio-blue-dark: #164aaa;
