/* You can add global styles to this file, and also import other style files */

@import "variables";
@import "intro";
@import "side-nav";
@import "button";
@import "card";
@import "table";
@import "input-group";
@import "scroll-bar";
@import "colors";

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    // margin-bottom: 60px;
}

html,
body {
    background-color: $c-pallette-bg;
    color: $c-pallette-text;
}

.fas {
    padding: 0px 5px;
}

footer,
.footer {
    // position: absolute;
    bottom: 0;
    // width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: $c-pallette-transp-heavy;
    display: flex;
    align-items: center;
}

a {
    color: $c-pallette-accent;
    transition: 0.2s;

    &:hover {
        color: $c-pallette-accent-dark;
        text-decoration: none;
    }
}

hr {
    border-color: $c-pallette-accent;
}

h1 {
    color: $c-pallette-accent;
    font-family: "Play", Verdana, sans-serif;

    small {
        color: $c-pallette-text-muted;
        font-size: 65%;
    }
}

h5 {
    font-family: "Jura", sans-serif;
    font-weight: bold;
}

section,
.section {
    height: 100%;
    display: block;

    .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.list-group-item {
    transition: 0.2s;
    background-color: $c-pallette-transp-light;
    border-color: $c-pallette-neutral;

    &:hover {
        background-color: $c-pallette-transp-medium;
    }
}

caption {
    color: $c-pallette-text-muted;
}

kbd {
    background-color: $c-pallette-transp-medium;
}

pre {
    color: inherit;
}

.fixed-width {
    max-width: 500px;
    margin: auto;
}

img {
    margin-bottom: 10px;
    box-shadow: 2px 2px 10px $c-pallette-transp-medium;
    width: 400px;
}

.limit-img-height {
    max-height: 250px;
    width: auto;
}

.color-circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    box-shadow: 2px 2px 10px $c-pallette-transp-medium;
}

.full-width {
    width: 100%;
}


/* On smaller screens, where height is less than 450px, change the style of the side-nav (less padding and a smaller font size) */
@media screen and (min-width: 1366px) {
    .section-nav-margin {
        margin-right: 250px;
    }
}
