/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import 'colors';
@import 'intro';
@import 'side-nav';
@import 'button';
@import 'card';
@import 'table';
@import 'input-group';

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

html, body {
    background-color: $c-pallete-bg;
    color: $c-pallete-text;
}

footer, .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: $c-pallete-transp-heavy;
}

a {
    color: $c-pallete-accent;
    transition: 0.2s;
    &:hover {
        color: $c-pallete-accent-dark;
        text-decoration: none;
    }
}

hr {
    border-color: $c-pallete-accent;
}

h1 {
    color: $c-pallete-accent;
    font-family: 'Play',Verdana, sans-serif;
    small {
        color: $c-pallete-text-muted;
        font-size: 65%;
    }
}

section, .section {
    height: 100%;
    display: block;
    .container {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

.list-group-item  {
    transition: 0.2s;
    background-color: $c-pallete-transp-light;
    border-color: $c-pallete-nuetral;
    &:hover {
        background-color: $c-pallete-transp-medium;
    }
}

caption {
    color: $c-pallete-text-muted;
}

kbd {
    background-color: $c-pallete-transp-medium;
}

pre {
    color: inherit;
}

.fixed-width {
    max-width: 500px;
    margin: auto;
}

img {
    box-shadow: 2px 2px 10px $c-pallete-transp-medium;
    width: 400px;
}
