<div class="container">
    <div class="row align-items-center">
        <div class="col">
            Design by <br class="d-md-none">
            <a href="http://www.deniszholob.com" target="_blank" rel="noopener">Denis Zholob</a>
        </div>
        <div class="col text-center">
            <a href="https://github.com/deniszholob/factorio-cheat-sheet" target="_blank" rel="noopener">Github Source</a>
        </div>
        <div class="col text-right">
            Updated {{lastUpdate | date:'y/M/d'}}
        </div>
    </div>
</div>
