<div class="container">
    <h2 id="Credits">Credits</h2>
    <hr>
    <div class="row">
        <div class="col">
            <!-- <h3>Reference/Inspiration</h3> -->
            <ul class="list-unstyled">
                <li *ngFor="let ref of APP_SETTINGS.reference">
                    <a href="{{ ref.url }}" title="{{ ref.name }}" target="_blank" rel="noopener">{{ ref.name }}</a>
                </li>
            </ul>
        </div>
        <div class="col" *ngIf="APP_SETTINGS.contributors.length > 1">
            <h3>Contributors</h3>
            <ul class="list-unstyled">
                <li *ngFor="let contributor of APP_SETTINGS.contributors">
                    <a *ngIf="contributor.url" href="{{ contributor.url }}" title="{{ contributor.name }}">{{ contributor.name }}</a>
                    <span *ngIf="!contributor.url">{{ contributor.name }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
