<div class="container">
    <h2 id="Annex">Annex</h2>
    <hr>
    <div class="row">
        <div class="col-12 col-sm-6">
            <h5 id="Old_Cheat_Sheets">Old Cheat Sheets</h5>
            <ul class="list-unstyled">
                <li *ngFor="let ref of APP_SETTINGS.old_cheat_sheets">
                    <a href="{{ ref.url }}" title="{{ ref.name }}" class="annex-link" target="_blank" rel="noopener">{{ ref.name }}</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-sm-6">
            <h5 id="PDF">PDF Downloads</h5>
            <ul class="list-unstyled">
                <li *ngFor="let pdf of APP_SETTINGS.pdfs">
                    <a href="{{ pdf.url }}" title="{{ pdf.name }}" class="annex-link" target="_blank" rel="noopener">{{ pdf.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
