<div class="container">
  <div class="cheat-sheet-pages-title d-none-print">
    <h2>Cheat Sheets</h2>
    <hr />
  </div>
  <div class="cheat-sheet-pages">
    <app-cs-common-ratios></app-cs-common-ratios>
    <app-belts></app-belts>
    <app-balancers></app-balancers>
    <app-material-processing></app-material-processing>
    <app-mining></app-mining>
    <app-science></app-science>
    <app-basic-power></app-basic-power>
    <app-nuclear-power></app-nuclear-power>
    <app-oil-refining></app-oil-refining>
    <app-fluid-wagon-transfer></app-fluid-wagon-transfer>
    <app-cargo-wagon-transfer></app-cargo-wagon-transfer>
    <app-inserter-throughput></app-inserter-throughput>
    <app-inserter-capacity-bonus></app-inserter-capacity-bonus>
    <!-- <app-combat></app-combat> -->
    <app-modules-and-beacons></app-modules-and-beacons>
    <app-productivity-module-payoffs></app-productivity-module-payoffs>
    <app-vehicle-fuel-bonus></app-vehicle-fuel-bonus>
    <app-train-colors></app-train-colors>
    <app-tips></app-tips>
    <app-links></app-links>
  </div>
</div>
