<div class="container">
    <h2>Cheat Sheets</h2>
    <hr>
    <div class="cheatsheet-pages">
        <app-belt-throughput></app-belt-throughput>
        <app-balancers></app-balancers>
        <app-material-processing></app-material-processing>
        <app-mining></app-mining>
        <app-science></app-science>
        <app-basic-power></app-basic-power>
        <app-nuclear-power></app-nuclear-power>
        <app-oil-refining></app-oil-refining>
        <app-fluid-wagon-transfer></app-fluid-wagon-transfer>
        <app-cargo-wagon-transfer></app-cargo-wagon-transfer>
        <app-inserter-throughput></app-inserter-throughput>
        <app-inserter-capacity-bonus></app-inserter-capacity-bonus>
        <app-common-ratios></app-common-ratios>
        <app-combat></app-combat>
        <app-modules-and-beacons></app-modules-and-beacons>
        <app-productivity-module-payoffs></app-productivity-module-payoffs>
        <app-vehicle-fuel-bonus></app-vehicle-fuel-bonus>
        <app-train-colors></app-train-colors>
        <app-tips></app-tips>
        <app-links></app-links>
    </div>
</div>
