<div class="container">
    <h2>Cheat Sheets</h2>
    <hr>
    <app-belt-throughput></app-belt-throughput>
    <app-material-processing></app-material-processing>
    <app-mining></app-mining>
    <app-science></app-science>
    <app-basic-power></app-basic-power>
    <app-nuclear-power></app-nuclear-power>
    <app-oil-refining></app-oil-refining>
    <app-fluid-wagon-transfer></app-fluid-wagon-transfer>
    <app-cargo-wagon-transfer></app-cargo-wagon-transfer>
    <app-inserter-throughput></app-inserter-throughput>
    <app-common-ratios></app-common-ratios>
    <app-modules-and-beacons></app-modules-and-beacons>
    <app-productivity-module-payoffs></app-productivity-module-payoffs>
    <app-train-speed></app-train-speed>
    <app-tips></app-tips>
    <app-links></app-links>
</div>
