// pallette Colors
.txt-neutral-dark {
  color: $c-pallette-neutral-dark;
}
.bg-neutral-dark {
  background-color: $c-pallette-neutral-dark;
}
.txt-neutral {
  color: $c-pallette-neutral;
}
.bg-neutral {
  background-color: $c-pallette-neutral;
}
.txt-neutral-light {
  color: $c-pallette-neutral-light;
}
.bg-neutral-light {
  background-color: $c-pallette-neutral-light;
}
.txt-accent {
  color: $c-pallette-accent;
}
.bg-accent {
  background-color: $c-pallette-accent;
}
.txt-accent-dark {
  color: $c-pallette-accent-dark;
}
.bg-accent-dark {
  background-color: $c-pallette-accent-dark;
}
.text-muted {
  color: $c-pallette-text-muted !important;
}
.bg-muted {
  background-color: $c-pallette-text-muted;
}
.txt-transp-light {
  color: $c-pallette-transp-light;
}
.bg-transp-light {
  background-color: $c-pallette-transp-light;
}
.txt-transp-medium {
  color: $c-pallette-transp-medium;
}
.bg-transp-medium {
  background-color: $c-pallette-transp-medium;
}
.txt-transp-heavy {
  color: $c-pallette-transp-heavy;
}
.bg-transp-heavy {
  background-color: $c-pallette-transp-heavy;
}

// Factorio Colors
.txt-factorio-gray {
  color: $color-factorio-gray;
}
.bg-factorio-gray {
  background-color: $color-factorio-gray;
}
.txt-factorio-green {
  color: $color-factorio-green;
}
.bg-factorio-green {
  background-color: $color-factorio-green;
}
.txt-factorio-light-green {
  color: $color-factorio-light-green;
}
.bg-factorio-light-green {
  background-color: $color-factorio-light-green;
}
.txt-factorio-yellow {
  color: $color-factorio-yellow;
}
.bg-factorio-yellow {
  background-color: $color-factorio-yellow;
}
.txt-factorio-yellow-muted {
  color: $color-factorio-yellow-muted;
}
.bg-factorio-yellow-muted {
  background-color: $color-factorio-yellow-muted;
}
.txt-factorio-red {
  color: $color-factorio-red;
}
.bg-factorio-red {
  background-color: $color-factorio-red;
}
.txt-factorio-red-muted {
  color: $color-factorio-red-muted;
}
.bg-factorio-red-muted {
  background-color: $color-factorio-red-muted;
}
.txt-factorio-blue {
  color: $color-factorio-blue;
}
.bg-factorio-blue {
  background-color: $color-factorio-blue;
}
.txt-factorio-blue-dark {
  color: $color-factorio-blue-dark;
}
.bg-factorio-blue-dark {
  background-color: $color-factorio-blue-dark;
}
.txt-factorio-purple {
  color: $color-factorio-purple;
}
.bg-factorio-purple {
  background-color: $color-factorio-purple;
}
.txt-factorio-purple-muted {
  color: $color-factorio-purple-muted;
}
.bg-factorio-purple-muted {
  background-color: $color-factorio-purple-muted;
}
