$c-pallette-bg: #141516;

$c-pallette-neutral-dark: #252525;
$c-pallette-neutral: #313131;
$c-pallette-neutral2: #555;
$c-pallette-neutral-light: #747474;
$c-pallette-accent: #ff8400;
$c-pallette-accent-dark: #e46c00;
$c-pallette-text: #eee;
$c-pallette-text-muted: #808e99;

$c-pallette-transp-light: rgba(0, 0, 0, 0.2);
$c-pallette-transp-medium: rgba(0, 0, 0, 0.4);
$c-pallette-transp-heavy: rgba(0, 0, 0, 0.8);

$color-factorio-gray: #929292;
$color-factorio-green: #54813f;
$color-factorio-light-green: #808038;
$color-factorio-yellow: #d8cc44;
$color-factorio-yellow-muted: #a8923d;
$color-factorio-red: #d53c1b;
$color-factorio-red-muted: #894e49;
$color-factorio-blue: #2768bc;
$color-factorio-blue-dark: #164aaa;
