<app-cheat-sheet [cheatSheet]="cheatSheet">
  <div class="row align-items-center">
    <div class="col text-center">
      <p>
        <strong>
          Military
          <a href="https://www.reddit.com/r/factorio/comments/bjbcsi/ranges_of_all_turrets_worms_vehicles_weapons_and/">
            Range Comparison
          </a>
        </strong>
      </p>
      <a href="https://i.imgur.com/6EenAcn.png">
        <img
          loading="lazy"
          class="img-fluid rounded full-width"
          src="{{ APP_INFO.links.getLocalImagePath('military-range-comparison.webp') }}"
          alt="Military Range Comparison"
          title="Military Range Comparison"
        />
      </a>
    </div>
  </div>
</app-cheat-sheet>
