<app-cheat-sheet [cheatSheet]="cheatSheet">

    <div class="row align-items-center">
        <div class="col text-center">
            <strong>
                Military <a href="https://www.reddit.com/r/factorio/comments/bjbcsi/ranges_of_all_turrets_worms_vehicles_weapons_and/">
                    Range Comparison
                </a>
            </strong>
            <br>
            <!-- <img src="{{APP_SETTINGS.links.getLocalImagePath('military-range-comparison.png')}}" class="img-fluid rounded" alt="Military Range Comparison" title="Military Range Comparison"> -->
            <img src="https://i.imgur.com/6EenAcn.png" class="img-fluid rounded full-width" alt="Military Range Comparison" title="Military Range Comparison">
        </div>
    </div>

</app-cheat-sheet>
