<app-cheat-sheet [cheatSheet]="cheatSheet">
    <table class="table table-sm fixed-width">
        <caption class="text-center">Science Research Unlocks</caption>
        <thead class="text-center">
            <tr>
                <th class="d-none d-sm-table-cell">
                    <app-factorio-icon [icon]="dataService.getFactorioIcon('Science_pack_1')"></app-factorio-icon>
                </th>
                <th class="d-none d-sm-table-cell">
                    <app-factorio-icon [icon]="dataService.getFactorioIcon('Science_pack_2')"></app-factorio-icon>
                </th>
                <th>
                    <app-factorio-icon [icon]="dataService.getFactorioIcon('Science_pack_3')"></app-factorio-icon>
                </th>
                <th>
                    <app-factorio-icon [icon]="dataService.getFactorioIcon('Military_science_pack')"></app-factorio-icon>
                </th>
                <th>
                    <app-factorio-icon [icon]="dataService.getFactorioIcon('Production_science_pack')"></app-factorio-icon>
                </th>
                <th>
                    <app-factorio-icon [icon]="dataService.getFactorioIcon('High_tech_science_pack')"></app-factorio-icon>
                </th>
                <th>
                    <app-factorio-icon [icon]="dataService.getFactorioIcon('Space_science_pack')"></app-factorio-icon>
                </th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr>
                <td class="d-none d-sm-table-cell">
                    -
                </td>
                <td class="d-none d-sm-table-cell">
                    -
                </td>
                <td>
                    <app-factorio-icon class="bg-factorio-green" [icon]="dataService.getFactorioIcon('Advanced_electronics_(research)')"></app-factorio-icon>
                </td>
                <td>
                    <app-factorio-icon class="bg-factorio-green" [icon]="dataService.getFactorioIcon('Military_(research)', 2)"></app-factorio-icon>
                </td>
                <td>
                    <app-factorio-icon class="bg-factorio-green" [icon]="dataService.getFactorioIcon('Advanced_material_processing_(research)', 2)"></app-factorio-icon>
                </td>
                <td>
                    <app-factorio-icon class="bg-factorio-green" [icon]="dataService.getFactorioIcon('Advanced_electronics_2_(research)')"></app-factorio-icon>
                </td>
                <td>
                    <app-factorio-icon class="bg-factorio-green" [icon]="dataService.getFactorioIcon('Rocket_silo_(research)')"></app-factorio-icon>
                </td>
            </tr>
        </tbody>
    </table>

    <hr>
    <p class="card-text">
        <span>The Vanilla game has all research balanced in number of different science packs required,
            so optimally all science should be produced at the same rate.</span><br>
        <span>However the different science pack themselves have various crafting times and outputs,
            thus you'll need a different number of assemblers making each science to prevent bottlenecks.</span><br>
    </p>

    <div class="text-center">
        <span class="text-muted">Number of assemblers needed to produce science equally</span>
        <div>
            <app-factorio-icon class="d-none d-sm-inline-block" [icon]="dataService.getFactorioIcon(sheetData?.space2?.iconId, sheetData?.space2?.speed)"></app-factorio-icon>
            <i class="fas fa-long-arrow-alt-left text-muted d-none d-sm-inline-block" aria-hidden="true"></i>
            <app-factorio-icon class="d-none d-md-inline-block" [icon]="dataService.getFactorioIcon(sheetData?.assembler2?.iconId, sheetData?.assembler2?.speed)"></app-factorio-icon>
            <i class="fas fa-long-arrow-alt-left text-muted d-none d-md-inline-block" aria-hidden="true"></i>

            <app-factorio-icon *ngFor="let pack of sheetData?.packs" [icon]="dataService.getFactorioIcon(pack?.iconId, pack?.count)"></app-factorio-icon>

            <i class="fas fa-long-arrow-alt-right text-muted d-none d-md-inline-block" aria-hidden="true"></i>
            <app-factorio-icon class="d-none d-md-inline-block" [icon]="dataService.getFactorioIcon(sheetData?.assembler3?.iconId, sheetData?.assembler3?.speed)"></app-factorio-icon>
            <i class="fas fa-long-arrow-alt-right text-muted d-none d-sm-inline-block" aria-hidden="true"></i>
            <app-factorio-icon class="d-none d-sm-inline-block" [icon]="dataService.getFactorioIcon(sheetData?.space3?.iconId, sheetData?.space3?.speed)"></app-factorio-icon>
        </div>
    </div>

    <br>

    <p class="card-text">
        Check the <a href="#common-ratios">ratios for each science pack</a>.
        <br>
        Check your
        <a href="http://doomeer.com/factorio/#s1132PbbbbbbbbbbbbbbrgrgrgrgrgrgrgrgrrgrgrgrgrrrrrgrrgrgrgrrrrA5rA6rA12rA5rA7rA7rrrrrgrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr" target="_blank" rel="noopener">
            Resource requirements
        </a> to keep production steady.
    </p>

    <hr>
    <div class="row align-items-center">
        <div class="col-12 col-lg-6">
            <p class="card-text text-center">
                <strong>Space Science</strong>
            </p>
            <p class="card-text">
                For 1 space science pack per second you need to launch a rocket with satellite every 16.67 minutes.<br>
            </p>
            <p class="text-center"><kbd>Rockets launch interval (in minutes) = (1000 science / (assembler speed * ratio multiplier)) * (1min/60sec)</kbd></p>
        </div>
        <div class="col-12 col-lg-6">
            <div class="merged-input-group">
                <div class="input-group">
                    <span class="input-group-addon">Rocket launch every</span>
                    <input type="text" class="form-control" [value]="rocketCalcData.rocketRate | number:'1.0-0'" readonly>
                    <span class="input-group-addon">Minutes</span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Science Per Launch</span>
                    <input type="number" class="form-control" [(ngModel)]="rocketCalcData.sciencePerLaunch" (keyup)="onCalcRocketRate()" (change)="onCalcRocketRate()">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Assembler Speed</span>
                    <input type="number" class="form-control" [(ngModel)]="rocketCalcData.assemblerSpeed" (keyup)="onCalcRocketRate()" (change)="onCalcRocketRate()" step="0.25">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Ratio Multiplier</span>
                    <input type="number" class="form-control" [(ngModel)]="rocketCalcData.ratioMultiplier" (keyup)="onCalcRocketRate()" (change)="onCalcRocketRate()">
            </div>
        </div>
        </div>
    </div>

    <br>

</app-cheat-sheet>
