<app-cheat-sheet-template [iconId]="cheatSheetIconId" [title]="cheatSheetTitle">
  <div class="row align-items-center">
    <div class="col-12 col-md-7">
      <table class="table table-sm table-hover fixed-width">
        <caption>
          Belt throughput and maximum gap between underground belts.
        </caption>
        <thead class="text-center">
          <tr>
            <th>Belt type</th>
            <th>Throughput</th>
            <th>Maximum gap</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let item of BELT_DATA.beltInfo">
            <td>
              <app-factorio-icon *ngFor="let iconId of item.icons" [icon]="dataService.getFactorioIcon(iconId)" [spaceAge]="item.spaceAge">
              </app-factorio-icon>
            </td>
            <td>
              {{ item.throughput | number : '1.0-3' }}
              items/sec
            </td>
            <td>
              {{ item.undergroundSpacing }}
              tiles
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <figure class="col-12 col-md-5 text-center">
      <img
        class="img-fluid rounded"
        loading="lazy"
        src="{{ APP_INFO.links.getLocalImagePath('belt-signal-circuit.webp') }}"
        alt="Transport Belt Signal"
        title="Transport Belt Signal"
      />
      <figcaption>All belts can hold {{ BELT_DATA.beltDensity }} items per tile.</figcaption>
    </figure>
  </div>

  <br />

  <p>
    Read the
    <a href="https://wiki.factorio.com/Belt_transport_system" target="_blank" rel="noopener">Factorio wiki, Belt transport system </a>
    to learn all about belts.
  </p>

  <h4>Main bus</h4>
  <p id="bus">
    Grouping your belts into a
    <a href="https://wiki.factorio.com/Tutorial:Main_bus" target="_blank" rel="noopener">Main Bus</a> can help you to expand your factory.
    To learn more about the main bus, watch any of these YouTube playlists:
    <a href="https://www.youtube.com/watch?v=e9LSMqCRsd0&list=PLwehwVVQirAep2XwjX1IoJR4XIqU4eUCH&index=2" target="_blank" rel="noopener"
      >Xterminator</a
    >,
    <a href="https://www.youtube.com/watch?v=-kOxTtgHssk&list=PLnIE0W-m629dSJPPEETVY71CQhOfZ6r7W&index=8" target="_blank" rel="noopener"
      >JDplays</a
    >
    and
    <a href="https://www.youtube.com/watch?v=ErdHbEgJG58&list=PLV3rF--heRVu2xlDGZiRbdb7nbwzM9Vyz&index=2" target="_blank" rel="noopener"
      >Nilaus</a
    >.
  </p>
  <div class="row align-items-center">
    <figure class="col-12 align-items-center text-center">
      <img
        class="img-fluid rounded limit-img-height"
        loading="lazy"
        src="{{ APP_INFO.links.getLocalImagePath('bus.webp') }}"
        alt="Main Bus"
        title="Main Bus"
      />
      <figcaption>Example of a main bus.</figcaption>
    </figure>
  </div>

  <h3>Advanced belt mechanics</h3>

  <div class="row align-items-center justify-content-around">
    <figure class="col-12 col-sm-6 col-lg-4 col-print-4 text-center">
      <img
        class="img-fluid rounded limit-img-height"
        loading="lazy"
        src="{{ APP_INFO.links.getLocalImagePath('belt-tip-side-load.webp') }}"
        alt="Side Load Underground"
        title="Side Load Underground"
      />
      <figcaption>Underground belts can be side loaded.</figcaption>
    </figure>
    <figure class="col-12 col-sm-6 col-lg-4 col-print-4 text-center">
      <img
        class="img-fluid rounded limit-img-height"
        loading="lazy"
        src="{{ APP_INFO.links.getLocalImagePath('belt-tip-filter.webp') }}"
        alt="Splitter Filter"
        title="Splitter Filter"
      />
      <figcaption>Splitters can filter items.</figcaption>
    </figure>

    <figure class="col-12 col-sm-6 col-lg-4 col-print-4 text-center">
      <img
        class="img-fluid rounded limit-img-height"
        loading="lazy"
        src="{{ APP_INFO.links.getLocalImagePath('belt-weaving.webp') }}"
        alt="Woven Belts"
        title="Woven Belts"
      />
      <figcaption>Belts can be woven.</figcaption>
    </figure>
  </div>
</app-cheat-sheet-template>
