<div id="Top"></div>

<app-nav></app-nav>

<app-intro class="intro section-nav-margin"></app-intro>
<app-overview class="section section-nav-margin"></app-overview>

<app-main class="section bg-transp-light section-nav-margin"></app-main>

<app-ad-sense>
  <ins
    class="adsbygoogle"
    data-ad-layout="in-article"
    data-ad-format="fluid"
    data-ad-client="ca-pub-8345050037615230"
    data-ad-slot="1129032034"
  >
  </ins>
</app-ad-sense>

<!-- <app-annex class="section section-nav-margin"></app-annex> -->
<app-footer class="footer section-nav-margin"></app-footer>

<div class="sticky-left-panel">
  <a class="btn btn-outline-primary" [href]="APP_INFO.factoryTime.url" target="_blank" rel="noopener noreferrer">
    Play my game: "Factory Time"
  </a>
</div>
