<app-cheat-sheet [cheatSheet]="cheatSheet">
  <h4 id="tips-shortcuts">
    <a href="https://wiki.factorio.com/Tutorial:Keyboard_shortcuts" target="_blank" rel="noopener">Common shortcuts </a>
  </h4>

  <table class="table table-hover">
    <caption>
      Common Factorio shortcuts. Table only lists different macOS shortcuts.
    </caption>
    <thead>
      <tr>
        <th scope="col">Windows/Linux</th>
        <th scope="col">macOS</th>
        <th scope="col">Description and tips</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <kbd>Alt</kbd>
        </td>
        <td></td>
        <td>
          Show detailed information on entities. Or click the ALT button in the
          <a href="https://wiki.factorio.com/Shortcut_bar" target="_blank" rel="noopener">shortcut bar</a>.
        </td>
      </tr>
      <tr>
        <td>
          <kbd>M</kbd>
        </td>
        <td></td>
        <td>Open or close the map view.</td>
      </tr>
      <tr>
        <td>
          <kbd>O</kbd>
        </td>
        <td></td>
        <td>Open or close the train view.</td>
      </tr>
      <tr>
        <td>
          <kbd>P</kbd>
        </td>
        <td></td>
        <td>Open or close the production view.</td>
      </tr>
      <tr>
        <td><kbd>MMB</kbd></td>
        <td><kbd>CMD + RMB</kbd></td>
        <td>
          Clear the item in the <a href="https://wiki.factorio.com/Quickbar" target="_blank" rel="noopener">quick bar</a>. Or set filters in
          cargo wagons and your inventory.
        </td>
      </tr>
      <tr>
        <td><kbd>R</kbd></td>
        <td></td>
        <td>Rotate ghosts (or built entities) clockwise.</td>
      </tr>
      <tr>
        <td><kbd>Shift + R</kbd></td>
        <td></td>
        <td>Rotate ghosts (or built entities) counterclockwise.</td>
      </tr>
      <tr>
        <td><kbd>CTRL + LMB</kbd></td>
        <td></td>
        <td>Put or take all items.</td>
      </tr>
      <tr>
        <td><kbd>CTRL + RMB</kbd></td>
        <td></td>
        <td>Put or take a half stack of items.</td>
      </tr>
      <tr>
        <td><kbd>Z</kbd></td>
        <td></td>
        <td>Drop 1 item over the cursor. You can feed one item into a Assembly machine or chest.</td>
      </tr>
      <tr>
        <td><kbd>F</kbd></td>
        <td></td>
        <td>Pick up items from the ground or belt.</td>
      </tr>
      <tr>
        <td><kbd>Shift + LMB</kbd></td>
        <td></td>
        <td>Build a ghost of the item.</td>
      </tr>
      <tr>
        <td><kbd>Shift + RMB</kbd></td>
        <td></td>
        <td>Copy entity configuration.</td>
      </tr>
      <tr>
        <td><kbd>Shift + LMB</kbd></td>
        <td></td>
        <td>Paste entity configuration.</td>
      </tr>
      <tr>
        <td><kbd>Q</kbd></td>
        <td></td>
        <td>Selects what you're hovering over from your inventory. If hovering over ores: selects the best miner in your inventory.</td>
      </tr>
      <tr>
        <td><kbd>CTRL + X</kbd></td>
        <td><kbd>CMD + X</kbd></td>
        <td>Cut.</td>
      </tr>
      <tr>
        <td><kbd>CTRL + C </kbd></td>
        <td><kbd>CMD + C</kbd></td>
        <td>Copy.</td>
      </tr>
      <tr>
        <td><kbd>CTRL + V</kbd></td>
        <td><kbd>CMD + V</kbd></td>
        <td>Paste.</td>
      </tr>
      <tr>
        <td><kbd>CTRL + Z</kbd></td>
        <td><kbd>CMD + Z</kbd></td>
        <td>Undo.</td>
      </tr>
      <tr>
        <td><kbd>CTRL + Y</kbd></td>
        <td><kbd>CMD + Y</kbd></td>
        <td>Redo.</td>
      </tr>
      <tr>
        <td><kbd>Numpad +</kbd></td>
        <td></td>
        <td>Increase size of buildable tiles like landfill, concrete, etc.</td>
      </tr>
      <tr>
        <td><kbd>Numpad -</kbd></td>
        <td></td>
        <td>Decrease size of buildable tiles like landfill, concrete, etc.</td>
      </tr>
      <tr>
        <td><kbd>Shift + RMB</kbd></td>
        <td></td>
        <td>Clear Blueprint or Deconstruction planner filter.</td>
      </tr>
      <tr>
        <td><kbd>Shift + LMB</kbd></td>
        <td></td>
        <td>Ping the ground and map.</td>
      </tr>
      <tr>
        <td><kbd>~</kbd></td>
        <td></td>
        <td>Open the chat/command line.</td>
      </tr>
    </tbody>
  </table>

  <h5>About copy/pasting</h5>

  <ul>
    <li>Copy/pasting the configuration works on inserters, assemblers, requester chests, combinators, etc.</li>
    <li>
      Set up requester chests by copy/pasting the assembler config to the requester chest. This requests enough items for 30 seconds of
      production.
    </li>
    <li>Copy/paste the config to multiple entities by dragging the mouse.</li>
    <li>Copy individual slots (inventory, cargo wagon).</li>
  </ul>

  <h4 id="tips-cmd">
    <a href="https://wiki.factorio.com/Console#Normal_commands">Commands</a>
    <small class="text-muted">
      (These do
      <strong>not</strong>
      disable achievements)</small
    >
  </h4>
  <ul>
    <li>
      <kbd>/permissions</kbd>, disable
      <i>Craft</i>
      - Useful for
      <a href="https://wiki.factorio.com/Achievements" target="_blank" rel="noopener"> Lazy Bastard Achievement </a>.
    </li>
    <li>
      <kbd>/screenshot [x resolution] [y resolution] [zoom]</kbd>
      - Useful for large/HD screenshots.
      <br />
      (Resolution is optional and defaults to the current window size and zoom is optional and defaults to 1).
    </li>
    <li>
      <kbd>[item=iron-plate]</kbd>
      /
      <kbd>[fluid=crude-oil]</kbd>
      - part of
      <a href="https://wiki.factorio.com/Rich_text" target="_blank" rel="noopener">Rich text</a>, will display as an icon! Useful for
      blueprints/station names.
      <br />
      To quickly get a rich text tag for an item: open the console, then
      <kbd>Shift+LMB</kbd>
      on the item (eg. in your inventory, a chest, etc.)
      <br />
      A rich text tag for that item appears in the console and can be copied.
    </li>
  </ul>

  <h4 id="tips-debug">
    <a href="https://wiki.factorio.com/Debug_mode" target="_blank" rel="noopener"> Debug Menu </a>
    <small class="text-muted"
      >(<kbd>F4</kbd>
      also
      <kbd>F5</kbd>
      )</small
    >
  </h4>
  <p>Some useful options to enable:</p>
  <ul>
    <li>
      <kbd>show-fps</kbd>
      - FPS/UPS
    </li>
    <li>
      <kbd>show-multiplayer-statistics</kbd>
      - Latency
    </li>
    <li>
      <kbd>show-tile-grid</kbd>,
      <kbd>show-raw-tile-transitions</kbd>
      - Precision construction
    </li>
    <li>
      <kbd>show-rail-paths</kbd>
      - Less likely to get run over
    </li>
    <li>
      <kbd>show-transport-line-gaps</kbd>
      - Identify unsaturated belts
    </li>
    <li>
      <kbd>show-player-robots</kbd>
      - Makes it clear if there are stragglers
    </li>
    <li>
      <kbd>allow-increased-zoom</kbd>
    </li>
  </ul>

  <h4 id="tips-misc">Misc</h4>
  <ul>
    <li>
      <a
        href="https://www.reddit.com/r/factorio/comments/uppyjy/ranges_of_all_turrets_worms_vehicles_weapons_and/?"
        target="_blank"
        rel="noopener"
      >
        Combat </a
      >: Weapon
      <a href="{{ APP_INFO.links.getLocalImagePath('weapons-range.1.1.57.webp') }}" target="_blank" rel="noopener"> Range Comparison </a>
      Diagram.
    </li>
    <li>Inserters will always place items on the furthest side of the belt, and prioritize taking items from the closest.</li>
    <li>Placing over ghosts will preserve the recipes.</li>
    <li>Fluids can move through boilers, tanks, and electric mining drills (only when mining uranium).</li>
    <li>Blueprints can be used from map view.</li>
  </ul>
</app-cheat-sheet>
