<app-cheat-sheet-template [iconId]="cheatSheetIconId" [title]="cheatSheetTitle">
  There are two systems for trains/stations:
  <ul>
    <li>Locomotive(s) on one end of the train. The train stops and leaves the station in the same direction. (Pass Through Station)</li>
    <li>Locomotive(s) on both ends of the train. The train stops and leaves the station in the opposite direction. (Terminal Station)</li>
  </ul>

  Example station names and interrupts patterns:
  <ul>
    <li>
      <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Signal_SignalL)"></app-factorio-icon>
      or
      <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Signal_SignalU)"></app-factorio-icon>
      (load/unload)
    </li>
    <li>
      <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_CargoWagon)"></app-factorio-icon>
      or
      <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_FluidWagon)"></app-factorio-icon>
      (fluid/cargo wagon)
    </li>
    <li>[#locomotives in front]-[#wagons]-[#locomotives behind]</li>
  </ul>
  Example train configurations for an average game (locos on both ends of the train):
  <ul>
    <li>2-4-2 trains, for ore.</li>
    <li>1-2-1 trains, for oil.</li>
    <li>1-1-1 trains, sulfuric acid for uranium ore mines.</li>
  </ul>

  <h4 id="signals">
    Signals
    <small>
      <a href="https://www.youtube.com/watch?v=oDgzDW26spc" target="_blank" rel="noopener noreferrer">tutorial</a>
    </small>
  </h4>
  <span>The main rules for signalling are:</span>
  <ul>
    <li>Chain signal before the intersection, but block signal after the intersection. "Chain in, block out."</li>
    <li>Your longest train must fit between the signals after the intersection. This prevents deadlocks.</li>
  </ul>

  <hr />
  <h4 id="schedules">
    Schedules
    <small>
      <a href="https://youtu.be/ks9dP8YuyOY?si=-LwPz1NM5Nne2B7g&t=96" target="_blank" rel="noopener noreferrer">tutorial</a>
    </small>
  </h4>

  An example of a train schedule with interrupts and parameters.
  <br />
  This way you can use the same schedule for all trains and use the same names for outposts. Trains go to outposts, refuel and wait at the
  depot automatically.

  <br />
  You must have at least one of each of these stations. Set the train limit to 1, or to the number of trains that fit in a stacker before
  that station.
  <ul>
    <li>Load Station, for mining outposts or parts production.</li>
    <li>Unload Station, for the main base or final assembly of parts.</li>
    <li>Fuel Station. Put this near your rocket fuel production.</li>
    <li>Stacker/Depot Station. Typically a large row of stations for many trains.</li>
  </ul>
  <div class="col align-items-center">
    <img
      class="img-fluid rounded"
      loading="lazy"
      src="{{ APP_INFO.links.getLocalImagePath('train-schedule_1-1-1.png') }}"
      alt=""
      title=""
    />

    <img
      class="img-fluid rounded"
      loading="lazy"
      src="{{ APP_INFO.links.getLocalImagePath('train-interrupt-fuel_1-1-1.png') }}"
      alt=""
      title=""
    />

    <img
      class="img-fluid rounded"
      loading="lazy"
      src="{{ APP_INFO.links.getLocalImagePath('train-interrupt-stacker_1-1-1.png') }}"
      alt=""
      title=""
    />

    <img
      class="img-fluid rounded"
      loading="lazy"
      src="{{ APP_INFO.links.getLocalImagePath('train-interrupt-unload_1-1-1.png') }}"
      alt=""
      title=""
    />
  </div>

  <hr />

  <div class="row align-items-center"></div>
</app-cheat-sheet-template>
