<div class="container">
  <div class="row align-items-center">
    <div class="col">
      <span class="text-muted">Design by </span>
      <br class="d-md-none" />

      <a href="{{ APP_INFO.author.url }}" title="{{ APP_INFO.author.name }}" target="_blank" rel="noopener">
        {{ APP_INFO.author.name }}
      </a>
      <br class="d-md-none" />
    </div>

    <div class="col text-center" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; gap: 0.5rem ">
      <!-- <a href="{{ APP_INFO.github.url }}" title="{{ APP_INFO.github.name }}" target="_blank" rel="noopener">
        {{ APP_INFO.github.name }}
      </a> -->
      <a
        *ngFor="let link of SOCIAL_LINKS"
        class="p-1"
        [title]="link.name"
        href="{{ link.url }}"
        title="{{ link.title ?? link.name }}"
        target="_blank"
        rel="noopener"
      >
      <div *ngIf="link.icon">
        <i class="fa-lg {{ link.icon }}"></i>
      </div>
      <div *ngIf="!link.icon">
        <span> {{ link.name }} </span>
      </div>
      </a>
    </div>

    <div class="col text-right">
      <span class="text-muted">Updated </span>
      <span>{{ APP_UPDATE_DATE | date : 'y/M/d' }}</span>
    </div>
  </div>
</div>
