<app-cheat-sheet-template [iconId]="cheatSheetIconId" [title]="cheatSheetTitle">
  <p class="lead"><a href="https://mods.factorio.com/" target="_blank" rel="noopener noreferrer">Factorio Mod Portal</a></p>

  <p>
    Here is a list of some popular mods to use courtesy of
    <a
      href="https://discord.com/channels/139677590393716737/231518135231053825/1021919222609219614"
      target="_blank"
      rel="noopener noreferrer"
    >
      Xorimuth
    </a>
    ,
    <a
      href="https://discord.com/channels/139677590393716737/231518135231053825/1059509540263039026"
      target="_blank"
      rel="noopener noreferrer"
    >
      OceanPhantom
    </a>
    and
    <a
      href="https://discord.com/channels/139677590393716737/753031298368536577/769458458977632276"
      target="_blank"
      rel="noopener noreferrer"
    >
      IronCartographer
    </a>
    .
  </p>

  <div *ngFor="let modGroup of MOD_LIST">
    <br />
    <h4 id="{{ modGroup.name }}">
      -
      <a [routerLink]="[]" fragment="{{ modGroup.name }}">
        {{ modGroup.name }}
      </a>
      <small class="text-muted" *ngIf="modGroup.note"> — {{ modGroup.note }}</small>
    </h4>
    <hr />
    <ul>
      <li *ngFor="let modSubGroup of modGroup.subGroups">
        <h5 id="{{ modGroup.name }}_{{ modSubGroup.name }}">
          <a [routerLink]="[]" fragment="{{ modGroup.name }}_{{ modSubGroup.name }}">
            {{ modSubGroup.name }}
          </a>
          <small class="text-muted" *ngIf="modSubGroup.note"> — {{ modSubGroup.note }}</small>
        </h5>
        <ul>
          <li *ngFor="let mod of modSubGroup.mods">
            <ng-container *ngIf="mod.url; else modName">
              <a href="{{ mod.url }}" target="_blank" rel="noopener noreferrer">{{ mod.text }}</a>
            </ng-container>
            <ng-template #modName>
              <span>{{ mod.text }}</span>
            </ng-template>
            <small class="text-muted" *ngIf="mod.caption"> — {{ mod.caption }}</small>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</app-cheat-sheet-template>
