<app-cheat-sheet [cheatSheet]="cheatSheet">

    <div class="row align-items-center">
        <p class="col-12 col-sm-6  text-center">
            <span class="text-muted">Steam Power <a href="https://wiki.factorio.com/Power_production#Steam_engine_power">Build Ratio</a></span><br>
            <ng-container *ngFor="let item of sheetData?.steamRatio">
                <app-factorio-icon [icon]="dataService.getFactorioIcon(item?.iconId, item?.count)"></app-factorio-icon>
            </ng-container>
            <i class="fas fa-long-arrow-alt-right text-muted"></i>
            <i class="fa fa-bolt fa-2x txt-accent" style="vertical-align: middle" aria-hidden="true"></i> <sub style="vertical-align: baseline"><strong>{{sheetData?.steamRatioPower}}</strong></sub>
        <p>

        <p class="col-12 col-sm-6  text-center">
            <span class="text-muted">Solar Power <a href="https://wiki.factorio.com/Power_production#Solar_panels_and_accumulators">Build Ratio</a></span><br>
            <ng-container *ngFor="let item of sheetData?.solarRatio">
                <app-factorio-icon [icon]="dataService.getFactorioIcon(item?.iconId, item?.count)"></app-factorio-icon>
            </ng-container>
            <i class="fas fa-long-arrow-alt-right text-muted"></i>
            <i class="fa fa-bolt fa-2x txt-accent" style="vertical-align: middle" aria-hidden="true"></i> <sub style="vertical-align: baseline"><strong>{{sheetData?.solarRatioPower}}</strong></sub>
        <p>
    </div>

    <hr>

    <h4 class="card-title">Steam Power</h4>
    <ul>
        <li>
            An <a href="https://wiki.factorio.com/Offshore_pump" target="_blank" rel="noopener">offshore pump</a> provides 1200 water per second.
        </li>
        <li>
            A <a href="https://wiki.factorio.com/Boiler" target="_blank" rel="noopener">steam boiler</a> can turn up to 60 water units to steam per second, providing 1.8 MW of steam (at 165C).
        </li>
        <li>Steam boiler consumes fuel, using 1.8 MW.</li>
        <li>A <a href="https://wiki.factorio.com/Steam_engine" target="_blank" rel="noopener">steam engine</a> can turn up to 0.9 MW of steam to electric energy (30 steam units at 165C).</li>
        <li>40 steam engines will provide 36 MW of power.</li>
    </ul>

    <table class="table table-sm table-hover fixed-width">
        <caption class="text-center">Boilers supported by belt of fuel <br>(Rounded up to nearest whole number)</caption>
        <thead class="text-center">
            <tr>
                <th></th>
                <th><app-factorio-icon [icon]="dataService.getFactorioIcon('Transport_belt')"></app-factorio-icon></th>
                <th><app-factorio-icon [icon]="dataService.getFactorioIcon('Fast_transport_belt')"></app-factorio-icon></th>
                <th><app-factorio-icon [icon]="dataService.getFactorioIcon('Express_transport_belt')"></app-factorio-icon></th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let item of sheetData?.boilerSupport">
                <td>
                    <app-factorio-icon [icon]="dataService.getFactorioIcon(item?.fuel, item?.fuelEnergy)"></app-factorio-icon>
                </td>
                <td>
                    <app-factorio-icon [icon]="dataService.getFactorioIcon('Boiler', item?.beltYellow)"></app-factorio-icon>
                </td>
                <td>
                    <app-factorio-icon [icon]="dataService.getFactorioIcon('Boiler', item?.beltRed)"></app-factorio-icon>
                </td>
                <td>
                    <app-factorio-icon [icon]="dataService.getFactorioIcon('Boiler', item?.beltBlue)"></app-factorio-icon>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="text-center"><kbd>Boilers supported by belt of fuel = Belt Throughput(i/s) * Fuel Energy(MJ) / 3.6MW</kbd></p>

    <h4 class="card-title">Solar Power</h4>
    <ul>
        <li><a href="https://wiki.factorio.com/Solar_panel" target="_blank" rel="noopener">Solar panels</a> only provide energy during the day. (60 kW Max, 42kW avg per solar panel)</li>
        <li>
            During the day, excess power generated is stored in <a href="https://wiki.factorio.com/Accumulator" target="_blank" rel="noopener">accumulators</a>,
            and during the night, those accumulators release their charge to power your factory.
        </li>
        <li>Place accumulators until they can keep your factorio powered through the night</li>
        <li>Then place solar panels until those accumulators are fully charged by the end of the day.</li>
        <li>
            User <a href="https://forums.factorio.com/viewtopic.php?f=5&t=5594" target="_blank" rel="noopener"><i>Cilya</i> on the forums</a> did the
            <a href="https://www.wolframalpha.com/input/?i=(+(0.5+%2B+0.2)+*+(0.1+%2B+0.2+*+(0.5+%2B+0.2)+%2F+1.0)+%2F+1.0)+*+(25000+%2F+60)+*+(60+%2F+5000)" target="_blank" rel="noopener">math</a>
            to figure out exactly how many solar panels we need per accumulator.
        </li>
    </ul>
</app-cheat-sheet>
