<app-cheat-sheet [cheatSheet]="cheatSheet">
  <div>
    <p>Use modules to increase the speed, productivity or efficiency of your machines.</p>

    <p>
      If you play with the Space Age expansion, you can use Quality modules to get higher quality output from your mining drills and
      machines.
    </p>

    <table>
      <caption>
        Summary of the modules in Factorio.
      </caption>
      <thead>
        <tr>
          <th scope="col">Module type</th>
          <th scope="col">Pros</th>
          <th scope="col">Cons</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Speed</th>
          <td>Faster crafting.</td>
          <td>Uses more power.</td>
        </tr>
        <tr>
          <th scope="row">Productivity</th>
          <td>Bonus items.</td>
          <td>Uses more power, slower crafting/mining.</td>
        </tr>
        <tr>
          <th scope="row">Efficiency</th>
          <td>Use less power.</td>
          <td>None.</td>
        </tr>
        <tr>
          <th scope="row">Quality (SA-only)</th>
          <td>Chance to get quality output.</td>
          <td>Slower crafting/mining.</td>
        </tr>
      </tbody>
    </table>

    <h4>Speed modules</h4>

    <p>Speed modules speed up crafting, but use more power.</p>

    <p>Beacons filled with Speed Modules need a lot of power!</p>

    <p>Tips:</p>
    <ul>
      <li>Put Speed modules in Pumpjacks or Mining drills to increase their output.</li>
      <li>
        Speed modules help you design compact builds, because you need less machines.
        <ul>
          <li>Compact builds reduce the travel distance of your bots, increasing their efficiency and throughput.</li>
        </ul>
      </li>
    </ul>

    <h4>Productivity modules</h4>
    <p>With Productivity modules you get bonus items, this means you need less raw resources overall.</p>

    <p>Tips:</p>
    <ul>
      <li>Use Beacons with Speed modules to compensate for the Productivity module's crafting speed penalty.</li>
      <li>Productivity modules are crucial for big late-game factories, especially when doing infinity research.</li>
    </ul>

    <h4>Efficiency modules</h4>
    <p>Efficiency Modules reduce power usage. Less power used means less pollution.</p>

    <p>Tips:</p>
    <ul>
      <li>Save a lot of power by putting tier 1 Efficiency modules in all your mining drills.</li>
      <li>Put Efficiency modules in your Electric furnaces and Assemblers on your Space platform (Space Age-only).</li>
    </ul>

    <h4>Quality modules (Space Age only)</h4>
    <p>Quality Modules increase the chance to craft higher quality items, but reduce crafting speed by 5 percent each.</p>

    <p>Speed modules reduce the quality of the output, so:</p>
    <ul>
      <li>Don't put Quality and Speed modules in the same machine!</li>
      <li>Don't put Beacons with Speed modules near machines with Quality modules!</li>
    </ul>

    <p>
      For more information see the
      <a href="https://wiki.factorio.com/Quality" target="_blank" rel="noopener noreferrer">Factorio Wiki, Quality</a>.
    </p>
  </div>

  <h4>Diminishing returns</h4>

  <p>
    Beware of Diminishing Returns <a href="https://factorio.com/blog/post/fff-409" target="_blank" rel="noopener">with beacons</a> and
    <a href="https://forums.factorio.com/viewtopic.php?f=5&t=5705" target="_blank" rel="noopener">with productivity</a>.
  </p>

  <p>
    Also see
    <a href="https://www.reddit.com/r/factorio/comments/4phc78/math_energy_efficiency_of_productivity3/" target="_blank" rel="noopener"
      >Beacon Arrangement Power Efficiency</a
    >.
  </p>

  <h4>Calculator</h4>

  <p>This calculator shows how many machines you need to get your wanted output.</p>

  <div class="row align-items-center">
    <div class="col-12 col-lg-3">
      <div class="eq-container">
        <div class="eq-field bg-neutral">
          <span class="eq-label">Machines Needed</span>
          <input class="eq-input" [value]="calcMachines.machinesToFillBelt" type="text" readonly />
        </div>
        <div class="eq-operator">=</div>
      </div>
    </div>
    <div class="col-12 col-lg-9">
      <div class="eq-container">
        <div class="eq-field bg-factorio-yellow-muted">
          <span class="eq-label">Item Production Rate</span>
          <input
            class="eq-input"
            [(ngModel)]="calcMachines.itemProductionRate"
            (keyup)="calcMachinesToFillBelt()"
            (change)="calcMachinesToFillBelt()"
            type="number"
            step="1"
          />
        </div>
        <div class="eq-operator">*</div>
        <div class="eq-field bg-factorio-green">
          <span class="eq-label">Recipe Base Craft Time</span>
          <input
            class="eq-input"
            [(ngModel)]="calcMachines.recipeBaseCraftTime"
            (keyup)="calcMachinesToFillBelt()"
            (change)="calcMachinesToFillBelt()"
            type="number"
            step="0.1"
          />
        </div>
      </div>
      <div class="eq-operator op-divide"></div>
      <div class="eq-container">
        <div class="eq-field bg-factorio-gray">
          <span class="eq-label">Items per Craft</span>
          <input
            class="eq-input"
            [(ngModel)]="calcMachines.itemsPerCraft"
            (keyup)="calcMachinesToFillBelt()"
            (change)="calcMachinesToFillBelt()"
            type="number"
            step="1"
          />
        </div>
        <div class="eq-operator">*</div>
        <div class="eq-field bg-factorio-blue">
          <span class="eq-label">Machine Craft Speed</span>
          <input
            class="eq-input"
            [(ngModel)]="calcMachines.machineCraftSpeed"
            (keyup)="calcMachinesToFillBelt()"
            (change)="calcMachinesToFillBelt()"
            type="number"
            step="0.25"
          />
        </div>
        <div class="eq-operator">*</div>
        <div class="eq-field bg-factorio-red">
          <span class="eq-label">Machine Productivity</span>
          <input
            class="eq-input"
            [(ngModel)]="calcMachines.machineProductivity"
            (keyup)="calcMachinesToFillBelt()"
            (change)="calcMachinesToFillBelt()"
            type="number"
            step="0.1"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6 text-center">
    <img
      class="img-fluid rounded"
      loading="lazy"
      src="{{ APP_INFO.links.getLocalImagePath('formula-diagram.webp') }}"
      alt="Formula Diagram"
      title="Formula Diagram"
    />
  </div>
</app-cheat-sheet>
