<app-cheat-sheet [cheatSheet]="cheatSheet">
  <div class="row align-items-center">
    <div class="col-12 col-lg-6">
      <ul>
        <li>Modules allow to change how fast, efficient, or productive your machines are working.</li>
        <li>
          Beware of Diminishing Returns
          <a href="https://factorio.com/blog/post/fff-409" target="_blank" rel="noopener">with beacons</a> and
          <a href="https://forums.factorio.com/viewtopic.php?f=5&t=5705" target="_blank" rel="noopener">with productivity</a>.
        </li>
        <li>
          Also see
          <a
            href="https://www.reddit.com/r/factorio/comments/4phc78/math_energy_efficiency_of_productivity3/"
            target="_blank"
            rel="noopener"
            >Beacon Arrangement Power Efficiency</a
          >.
        </li>
        <li>
          Having
          <i>faster</i>
          machines with
          <a href="https://wiki.factorio.com/Speed_module_3" target="_blank" rel="noopener">
            <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_SpeedModule3)"></app-factorio-icon>
            Speed Modules
          </a>
          means you'll need less to fill a belt than you did before.
          <ul>
            <li>While generally space is infinite, this becomes very useful in bot networks to minimize flight distance.</li>
            <li>
              You can also speed up Pumpjacks to counteract the diminishing yields on patches, or Mining Drills to speed up patch depletion.
            </li>
            <li>Speed Modules increase the energy consumption especially with beacons so be wary.</li>
          </ul>
        </li>
        <li>
          Putting
          <a href="https://wiki.factorio.com/Productivity_module_3" target="_blank" rel="noopener">
            <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_ProductivityModule3)"></app-factorio-icon>
            Productivity Modules
          </a>
          in your machines means you'll use less raw resources.
          <ul>
            <li>This is absolutely critical for late game with big factories, especially when doing infinite research.</li>
            <li>Be wary, Productivity Modules increase the energy consumption and pollution, while decreasing machine speed.</li>
            <li>Use speed moduled beacons to compensate for the speed penalty.</li>
          </ul>
        </li>

        <li>
          <a href="https://wiki.factorio.com/Efficiency_module_3" target="_blank" rel="noopener">
            <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_EfficiencyModule3)"></app-factorio-icon>
            Efficiency Modules
          </a>
          reduce power usage.
          <ul>
            <li>Best to put in energy hogs.</li>
            <li>Reducing Energy = Reducing pollution</li>
            <li>Tier 1 are superb in mining drills. Because you'll have lots of mining drills, you can save a lot of energy.</li>
          </ul>
        </li>

        <li>
          <a href="https://wiki.factorio.com/Quality_module_3" target="_blank" rel="noopener">
            <app-factorio-icon
              [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_QualityModule3)"
              [spaceAge]="true"
            ></app-factorio-icon>
            Quality Modules
          </a>
          increase the chance to get higher quality items (SA only).
          <ul>
            <li>Speed modules counteract this effect so do no mix or use "speed beacons"</li>
            <li>Use quality machines to save on space esp useful on space platforms</li>
            <li>
              <a href="https://wiki.factorio.com/Quality" target="_blank" rel="noopener noreferrer">Quality Wiki</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-12 col-lg-6 text-center">
      <img
        class="img-fluid rounded"
        loading="lazy"
        src="{{ APP_INFO.links.getLocalImagePath('formula-diagram.webp') }}"
        alt="Formula Diagram"
        title="Formula Diagram"
      />
    </div>
  </div>

  <hr />

  <div class="row align-items-center">
    <div class="col-12 col-lg-3">
      <div class="eq-container">
        <div class="eq-field bg-neutral">
          <span class="eq-label">Machines Needed</span>
          <input class="eq-input" [value]="calcMachines.machinesToFillBelt" type="text" readonly />
        </div>
        <div class="eq-operator">=</div>
      </div>
    </div>
    <div class="col-12 col-lg-9">
      <div class="eq-container">
        <div class="eq-field bg-factorio-yellow-muted">
          <span class="eq-label">Item Production Rate</span>
          <input
            class="eq-input"
            [(ngModel)]="calcMachines.itemProductionRate"
            (keyup)="calcMachinesToFillBelt()"
            (change)="calcMachinesToFillBelt()"
            type="number"
            step="1"
          />
        </div>
        <div class="eq-operator">*</div>
        <div class="eq-field bg-factorio-green">
          <span class="eq-label">Recipe Base Craft Time</span>
          <input
            class="eq-input"
            [(ngModel)]="calcMachines.recipeBaseCraftTime"
            (keyup)="calcMachinesToFillBelt()"
            (change)="calcMachinesToFillBelt()"
            type="number"
            step="0.1"
          />
        </div>
      </div>
      <div class="eq-operator op-divide"></div>
      <div class="eq-container">
        <div class="eq-field bg-factorio-gray">
          <span class="eq-label">Items per Craft</span>
          <input
            class="eq-input"
            [(ngModel)]="calcMachines.itemsPerCraft"
            (keyup)="calcMachinesToFillBelt()"
            (change)="calcMachinesToFillBelt()"
            type="number"
            step="1"
          />
        </div>
        <div class="eq-operator">*</div>
        <div class="eq-field bg-factorio-blue">
          <span class="eq-label">Machine Craft Speed</span>
          <input
            class="eq-input"
            [(ngModel)]="calcMachines.machineCraftSpeed"
            (keyup)="calcMachinesToFillBelt()"
            (change)="calcMachinesToFillBelt()"
            type="number"
            step="0.25"
          />
        </div>
        <div class="eq-operator">*</div>
        <div class="eq-field bg-factorio-red">
          <span class="eq-label">Machine Productivity</span>
          <input
            class="eq-input"
            [(ngModel)]="calcMachines.machineProductivity"
            (keyup)="calcMachinesToFillBelt()"
            (change)="calcMachinesToFillBelt()"
            type="number"
            step="0.1"
          />
        </div>
      </div>
    </div>
  </div>

  <p class="text-muted text-center">Calculates how many machines satisfy a target production rate of items.</p>
</app-cheat-sheet>
