<app-cheat-sheet-template [iconId]="cheatSheetIconId" [title]="cheatSheetTitle">
  <div>
    <!-- TODO: Remove Disclaimer when section is complete -->
    <p class="lead">
      This section is a work in progress, you can add or suggest changes via
      <a href="https://github.com/deniszholob/factorio-cheat-sheet/issues" target="_blank" rel="noopener"> GitHub </a> or
      <a href="https://discord.gg/PkyzXzz" target="_blank" rel="noopener">Discord</a>.
    </p>
    <p>Because this section is in progress, deep links may stop working at any time.</p>
  </div>

  <hr />
  <div>
    <h4 class="card-title" id="space-age-general-notes">General Notes</h4>
    <ul>
      <li>
        You can start on Vulcanus, Fulgora or Gleba with the
        <a href="https://mods.factorio.com/mod/any-planet-start" target="_blank" rel="noopener noreferrer">Any Planet Start mod</a>
      </li>
      <li>
        <a
          href="https://www.reddit.com/r/factorio/comments/1h7v9km/fulgora_beginners_guide_vulcanus_and_gleba_guides/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Planets Start Guide
        </a>
      </li>
      <li>
        <a
          href="https://www.reddit.com/r/factorio/comments/1gvsi88/how_to_make_common_ingredients_on_every_planet/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Common ingredients on every planet
        </a>
      </li>
      <li>You should equip best armor you can afford with shields and guns</li>
    </ul>
  </div>

  <hr />
  <div>
    <h4 class="card-title" id="quality">Quality</h4>

    <ul>
      <li>
        <a href="https://wiki.factorio.com/Quality" target="_blank" rel="noopener noreferrer">Quality Wiki</a>
      </li>
      <li>
        <a href="https://www.factorio.com/blog/post/fff-375" target="_blank" rel="noopener noreferrer">FFF-375</a>
      </li>
      <li>
        <a href="https://www.factorio.com/blog/post/fff-376" target="_blank" rel="noopener noreferrer">FFF-376</a>
      </li>
    </ul>
  </div>

  <hr />
  <div>
    <h4 class="card-title" id="space-platforms">
      <a href="https://wiki.factorio.com/Space_platform" target="_blank" rel="noopener noreferrer">Space Platforms</a>
    </h4>

    <ul>
      <li>High(er) quality machines are great on your space platforms, especially the Asteroid collector. (More arms, moves faster!)</li>
      <li>
        Your starting planet (Nauvis by default) has no dangerous asteroids to worry about, so stationary platforms there do not need
        defenses.
      </li>
      <li>
        Connect asteroid collectors to a circuit network and set limits on the type and number of asteroid chunks to grab. This prevents
        your space platform from overflowing on unwanted chunks.
        <ul>
          <li>
            Or you can dump unwanted asteroid chunks into space with a inserter. Long inserters can be placed one tile away from the edge of
            the platform, for instance to carry items beyond a wall.
          </li>
        </ul>
      </li>
      <li>
        Routes between the inner planets (Nauvis, Vulcanus, Gleba and Fulgora) have medium asteroids which damage your space platform. Build
        (and supply) defenses to break the asteroids into safe asteroid chunks.
        <br />

        <p class="col-12 col-sm-4 text-center">
          <a
            href="{{ SPACE_AGE_DATA.yellowAmmoRatio.source }}"
            title="{{ SPACE_AGE_DATA.yellowAmmoRatio.name }}"
            target="_blank"
            rel="noopener"
          >
            <app-ratio [ratios]="SPACE_AGE_DATA.yellowAmmoRatio.ratio"></app-ratio>
            <small class="text-muted" *ngIf="SPACE_AGE_DATA.yellowAmmoRatio.description">
              <br />*{{ SPACE_AGE_DATA.yellowAmmoRatio.description }}
            </small>
          </a>
        </p>
      </li>
      <li>
        You cannot bring anything in your inventory directly. Instead, you can send rockets up to space platforms with items which can be
        dropped on your planet of choice - you do not need a landing pad.
        <ul>
          <li>
            You can craft items in space, like you can on the ground, using assembling machines. For example: the rocket silo is too heavy
            for your rocket. But you can launch the items needed to craft the rocket silo, and then craft the silo in space.
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <hr />
  <div>
    <h4 class="card-title" id="vulcanus">
      <a href="https://wiki.factorio.com/Vulcanus" target="_blank" rel="noopener noreferrer">Vulcanus</a>
    </h4>

    <h5>Planet Start</h5>
    <ul>
      <li>
        Recommended items to bring to Vulcanus for faster bootstrapping:

        <ul>
          <li *ngFor="let itemGroup of SPACE_AGE_DATA.bootstrapItemsVulcanus">
            <ng-container *ngFor="let item of itemGroup">
              <app-factorio-icon [icon]="dataService.getFactorioIcon(item.iconId, '>' + item.count)"></app-factorio-icon>
            </ng-container>
          </li>
        </ul>
      </li>
      <li>Use robots (vs mining by hand) to gather rocks to get tungsten ore easily before getting access to patches</li>
      <li>
        Rush the Foundry asap and set it as the building to build more Foundries; because it includes built in productivity, you will get a
        free Foundry for every 2 crafts!
      </li>
      <li>You can use inserters to dump (destroy) items into lava (like excess stone).</li>
      <li>1 ore = 15 molten fluid</li>
    </ul>

    <div class="row align-items-center">
      <p class="col-12 col-sm-4 text-center">
        <span class="text-muted"> Vulcanus Solar Ratio </span>
        <br />

        <ng-container *ngFor="let item of SPACE_AGE_DATA.vulcanusSolarRatio">
          <app-factorio-icon [icon]="dataService.getFactorioIcon(item?.iconId, item?.count)"></app-factorio-icon>
        </ng-container>

        <span>
          <i class="fas fa-long-arrow-alt-right text-muted"></i>
          <i class="fa fa-bolt fa-2x txt-accent" style="vertical-align: middle" aria-hidden="true"></i>
          <sub style="vertical-align: baseline">
            <strong>
              {{ SPACE_AGE_DATA.vulcanusSolarRatioPower }}
              {{ SPACE_AGE_DATA.solarEnergyUnit }}
            </strong>
          </sub>
        </span>
      </p>
    </div>
  </div>

  <hr />
  <div>
    <h4 class="card-title" id="fulgora">
      <a href="https://wiki.factorio.com/Fulgora" target="_blank" rel="noopener noreferrer">Fulgora</a>
    </h4>

    <h5>Planet Start</h5>
    <ul>
      <li>
        Recommended items to bring to Fulgora for faster bootstrapping:

        <ul>
          <li *ngFor="let itemGroup of SPACE_AGE_DATA.bootstrapItemsFulgora">
            <ng-container *ngFor="let item of itemGroup">
              <app-factorio-icon [icon]="dataService.getFactorioIcon(item.iconId, '>' + item.count)"></app-factorio-icon>
            </ng-container>
          </li>
        </ul>
      </li>

      <!-- TODO: Explain how to sort the items with bots, and how to recycle unwanted items (things you have too much of!). Also see Issue 430 on GitHub. -->
      <li>The small islands on Fulgora have the richest scrap deposits.</li>
      <li>
        Recycling scrap <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_Scrap)"></app-factorio-icon> returns a
        lot of different items. You can use robots to sort the output.
      </li>

      <li>Use the items you get from recycling to craft starter items.</li>

      <li>
        Setup filters on
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_StorageChest, 12)"></app-factorio-icon> (12 recycled
        items from scrap) + 1 generic storage to start.
      </li>
      <li>
        Use
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_ActiveProviderChest)"></app-factorio-icon>
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_Recycler)"></app-factorio-icon>
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_FastInserter)"></app-factorio-icon>
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_RequesterChest)"></app-factorio-icon>
        to process recycling when using a logistics network.
      </li>
      <li>
        Use your first Electromagnetic plant
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_ElectromagneticPlant)"></app-factorio-icon> to craft more
        Electromagnetic plants. Because of the EM plant's 50% productivity bonus you'll get a free EM plant after each second craft.
      </li>
    </ul>

    <h5>
      <a href="https://wiki.factorio.com/Recycler" target="_blank" rel="noopener noreferrer"> Recycling </a>
    </h5>

    <ul>
      <li>Recycled items return 25% of the ingredients used to crafted the item.</li>
      <li>
        Items made with an irreversible recipe (smelting, etc..), or items without a recipe (like ores, etc.), have a 25% chance of being
        returned. 75% of the time, the item will be <em>destroyed</em>.
      </li>
      <li>
        The time it takes to recycle an item is 1/16th (0.0625) of the time it takes to craft that item, multiplied by the recycler crafting
        speed.
      </li>
      <li>A recycler <em>without modules</em> consumes 2.5 scrap/s and returns 1.47 items/s.</li>
    </ul>

    <h5 class="h5">Recycling scrap</h5>

    <p>Scrap is the primary resource on Fulgora. Start by recycling scrap manually. Use Recyclers to automate this process later.</p>

    <div class="text-center">
      <div class="d-flex flex flex-row justify-content-center align-items-center">Scrap recycling outputs.</div>

      <div class="d-flex flex flex-row justify-content-center">
        <ng-container *ngFor="let item of SPACE_AGE_DATA.recyclerScrapRatio">
          <app-factorio-icon [icon]="dataService.getFactorioIcon(item.iconId, item.count + '%')"></app-factorio-icon>
        </ng-container>
      </div>
    </div>

    <br />

    <table class="table table-sm fixed-width table-hover">
      <caption class="text-center">
        Recyclers needed to work with belts of scrap and its outputs.
      </caption>
      <thead class="text-center">
        <tr>
          <th>
            <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_Recycler)"></app-factorio-icon>
          </th>
          <th>
            <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_TransportBelt)"></app-factorio-icon>
          </th>
          <th>
            <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_FastTransportBelt)"></app-factorio-icon>
          </th>
          <th>
            <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_ExpressTransportBelt)"></app-factorio-icon>
          </th>
          <th>
            <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_TurboTransportBelt)"></app-factorio-icon>
          </th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr>
          <td>Consume scrap</td>
          <td>6</td>
          <td>12</td>
          <td>18</td>
          <td>24</td>
          <!-- <td *ngFor="let count of sheetData?.recycler_scrap">
            {{ count }}
          </td> -->
        </tr>
        <tr>
          <td>Produce items</td>
          <td>10</td>
          <td>20</td>
          <td>30</td>
          <td>40</td>
          <!-- <td *ngFor="let count of sheetData?.recycler_items">
            {{ count }}
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>

  <br />

  <div class="text-left">
    <h5 class="h5">Getting basic items on Fulgora</h5>
    <div class="d-flex flex flex-row align-items-center" *ngFor="let resource of SPACE_AGE_DATA.basicResourceConversionIcons">
      <ng-container *ngFor="let items of resource; let last = last">
        <ng-container *ngFor="let item of items; let last = last">
          <app-factorio-icon [icon]="dataService.getFactorioIcon(item)"></app-factorio-icon>
        </ng-container>
        <ng-container *ngIf="!last">
          <i class="fas fa-long-arrow-alt-left text-muted"></i>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <hr />

  <div>
    <h4 class="card-title" id="gleba">
      <a href="https://wiki.factorio.com/Gleba" target="_blank" rel="noopener noreferrer">Gleba</a>
    </h4>
    <h5>Planet Start</h5>
    <ul>
      <li>
        Recommended items to bring to Gleba for faster bootstrapping:
        <ul>
          <li>
            <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_SubmachineGun, '∞')"></app-factorio-icon>
            Guns, lots of guns.
          </li>
          <li *ngFor="let itemGroup of SPACE_AGE_DATA.bootstrapItemsGleba">
            <ng-container *ngFor="let item of itemGroup">
              <app-factorio-icon [icon]="dataService.getFactorioIcon(item.iconId, '>' + item.count)"></app-factorio-icon>
            </ng-container>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <hr />
  <div>
    <h4 class="card-title" id="aquilo">
      <a href="https://wiki.factorio.com/Aquilo" target="_blank" rel="noopener noreferrer">Aquilo</a>
    </h4>

    <p>WIP...</p>
  </div>
</app-cheat-sheet-template>
