<app-cheat-sheet [cheatSheet]="cheatSheet">

    <div class="row align-items-center">
        <p class="col-12 col-sm-6 text-center">
            <span class="txt-muted">Simple Setup Ratio</span><br>
            <ng-container *ngFor="let item of sheetData?.simpleRatio">
                <app-factorio-icon [icon]="dataService.getFactorioIcon(item?.iconId, item?.count)"></app-factorio-icon>
            </ng-container>
            <i class="fa fa-long-arrow-right txt-muted" aria-hidden="true"></i>
            <i class="fa fa-bolt fa-2x txt-accent" style="vertical-align: middle" aria-hidden="true"></i> <sub style="vertical-align: baseline"><strong>{{sheetData?.simpleRatioPower}}</strong></sub>
        <p>

        <p class="col-12 col-sm-6 text-center">
            <span class="txt-muted">Common Setup Ratio</span><br>
            <ng-container *ngFor="let item of sheetData?.perfectRatio">
                <app-factorio-icon [icon]="dataService.getFactorioIcon(item?.iconId, item?.count)"></app-factorio-icon>
            </ng-container>
            <i class="fa fa-long-arrow-right txt-muted" aria-hidden="true"></i>
            <i class="fa fa-bolt fa-2x txt-accent" style="vertical-align: middle" aria-hidden="true"></i> <sub style="vertical-align: baseline"><strong>{{sheetData?.perfectRatioPower}}</strong></sub>
        <p>
    </div>

    <hr>
    <h4 class="card-title">Summary</h4>

    <ul>
        <li>
            One uranium fuel cell will <a href="https://wiki.factorio.com/Nuclear_reactor">always last</a> 200s,
            even if the produced heat does not get consumed,
            so the rest of the energy is wasted if not used.
        </li>
        <li>
            To prevent energy waste, unused energy should be buffered and
            the nuclear reactor setup switched off before the energy buffer,
            such as steam tanks or accumulators, is full.
        </li>
        <li>
            A Storage tank holding 25k units of Steam at 500°C contains 2.425 GJ of energy, equal to 485 fully charged Accumulators!
        </li>
        <li>
            <a href="https://wiki.factorio.com/Nuclear_reactor">Reactors</a> experience a 100% increase in energy output when placed directly next to another reactor.
        </li>
    </ul>


    <div class="row">
        <div class="col-12 col-lg-5 text-center">
            <p class="txt-muted">Most efficient setup: a series of repeating 2x1 reactors</p>
            <img src="{{APP_SETTINGS.links.getLocalImagePath('nuclear-config-h.jpg')}}" style="width: 400px;" class="img-fluid rounded" title="2x3 reactor setup">
        </div>
        <div class="col-12 col-lg-7 text-center">

    <table class="table table-sm table-hover table-responsive fixed-width text-center">
        <caption>Nuclear Ratio Table</caption>
        <thead class="text-center">
            <tr>
                <th colspan="6">
                    <div class="merged-input-group mx-auto" style="max-width:269px">
                        <div class="input-group">
                            <span class="input-group-addon">Reactor Table Count</span>
                            <input type="number" class="form-control" [(ngModel)]="reactorInfoCount" min="1" max="{{reactorInfoCountMax}}" (keyup)="getNukeRatios()" (change)="getNukeRatios()">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Even Only</span>
                            <span class="input-group-addon">
                                <input type="checkbox" [(ngModel)]="evenOnly" (change)="getNukeRatios();" aria-label="Even Only or all">
                            </span>

                            <span class="input-group-addon">Round Up</span>
                            <span class="input-group-addon">
                                <input type="checkbox" [(ngModel)]="roundUp" (change)="getNukeRatios();" aria-label="Round up or Decimal">
                            </span>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th><app-factorio-icon [icon]="dataService.getFactorioIcon('Nuclear_reactor', 'Count')"></app-factorio-icon></th>
                <th><app-factorio-icon [icon]="dataService.getFactorioIcon('Nuclear_reactor', 'Config')"></app-factorio-icon></th>
                <th><app-factorio-icon [icon]="dataService.getFactorioIcon('Offshore_pump')"></app-factorio-icon></th>
                <th><app-factorio-icon [icon]="dataService.getFactorioIcon('Heat_exchanger')"></app-factorio-icon></th>
                <th><app-factorio-icon [icon]="dataService.getFactorioIcon('Steam_turbine')"></app-factorio-icon></th>
                <!-- <th><app-factorio-icon [icon]="dataService.getFactorioIcon('Steam', 'Tanks')"></app-factorio-icon></th> -->
                <th><i class="fa fa-bolt fa-2x txt-accent" style="vertical-align: middle" aria-hidden="true"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of reactorTable;">
                <td>{{item?.reactors}}</td>
                <td>{{item?.reactorConfig}}</td>
                <td>{{item?.pumps | number:'1.0-1'}}</td>
                <td>{{item?.heatExchangers}}</td>
                <td>{{item?.turbines | number:'1.0-1'}}</td>
                <!-- <td>{{item?.steamTanks | number:'1.0-1'}}</td> -->
                <td>{{item?.power}} {{item?.powerUnit}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>

    <hr>

    <h4 class="card-title">Formulas</h4>
    <p>
        See <a href="https://www.reddit.com/r/factorio/comments/67xgge/nuclear_ratios/">Nuclear Ratios</a> Post
        and, <a href="https://www.reddit.com/r/factorio/comments/6a1lf4/015_nuclear_guide/">Nuclear Guide</a> Post
        for more details.
    </p>

    <p><kbd>
    Heat Exchangers (even config) = (Heat Exchangers Per Reactor * 4 * reactors) - (Heat Exchangers Per Reactor * 4);
    </kbd></p>
    <p><kbd>
    Power (even config) = (Reactor Power * 4 * reactors) - (Reactor Power * 4);
    </kbd></p>
    <p><kbd>
    Turbines = Heat Exchangers * Heat Exchanger Power / Turbine Power;
    </kbd></p>
    <p><kbd>
    Pumps = Turbines * (Water Per Turbine / Water Per Pump);
    </kbd></p>



</app-cheat-sheet>
