<app-cheat-sheet [cheatSheet]="cheatSheet">

    <div class="row align-items-center">
                <p class="col-12 col-sm-4 text-center">
            <span class="txt-muted">Simple Build Ratio</span><br>
            <ng-container *ngFor="let item of sheetData?.simpleRatio">
                <app-factorio-icon [icon]="dataService.getFactorioIcon(item?.iconId, item?.count)"></app-factorio-icon>
            </ng-container>
            <i class="fa fa-long-arrow-right txt-muted" aria-hidden="true"></i>
            <i class="fa fa-bolt fa-2x txt-accent" style="vertical-align: middle" aria-hidden="true"></i> <sub style="vertical-align: baseline"><strong>{{sheetData?.simpleRatioPower}}</strong></sub>
        </p>

        <p class="col-12 col-sm-4 text-center">
            <span class="txt-muted">Common Build Ratio</span><br>
            <ng-container *ngFor="let item of sheetData?.commonRatio">
                <app-factorio-icon [icon]="dataService.getFactorioIcon(item?.iconId, item?.count)"></app-factorio-icon>
            </ng-container>
            <i class="fa fa-long-arrow-right txt-muted" aria-hidden="true"></i>
            <i class="fa fa-bolt fa-2x txt-accent" style="vertical-align: middle" aria-hidden="true"></i> <sub style="vertical-align: baseline"><strong>{{sheetData?.commonRatioPower}}</strong></sub>
        </p>

        <p class="col-12 col-sm-4 text-center">
            <span class="txt-muted">Pump Ratio</span><br>
            <ng-container *ngFor="let item of sheetData?.pumpRatio">
                <app-factorio-icon [icon]="dataService.getFactorioIcon(item?.iconId, item?.count)"></app-factorio-icon>
            </ng-container>
            <i class="fa fa-long-arrow-right txt-muted" aria-hidden="true"></i>
            <i class="fa fa-bolt fa-2x txt-accent" style="vertical-align: middle" aria-hidden="true"></i> <sub style="vertical-align: baseline"><strong>{{sheetData?.pumpRatioPower}}</strong></sub>
        </p>
    </div>

    <p class="txt-muted text-center"><strong>Note:</strong> Pumps and Steam Turbines are rounded up for build ratios. See table for precise numbers.</p>

    <hr>
    <h4 class="card-title">Summary</h4>

    <ul>
        <li>
            One uranium fuel cell will <a href="https://wiki.factorio.com/Nuclear_reactor" target="_blank">always last</a> 200s,
            even if the produced heat does not get consumed,
            so the rest of the energy is wasted if not used.
        </li>
        <li>
            To prevent energy waste, unused energy should be buffered and
            the nuclear reactor setup switched off before the energy buffer,
            such as steam tanks or accumulators, is full.
        </li>
        <li>
            Nuclear reactor can buffer 500C worth of energy after heat up as well as heat pipes, steam pipes and heat exchangers in addition to steam tanks and accumulators.
        </li>
        <li>
            A Storage tank holding 25k units of Steam at <strong>500°C</strong> contains 2.425 GJ of energy, equal to 485 fully charged Accumulators!
        </li>
        <li>
            <a href="https://wiki.factorio.com/Nuclear_reactor" target="_blank">Reactors</a> experience a 100% increase in energy output when placed directly next to another reactor.
        </li>
        <li>
            One Offshore pump can fully supply 12 (11.64) <a href="https://wiki.factorio.com/Heat_exchanger" target="_blank">Heat Exchangers</a> driving 20
            <a href="https://wiki.factorio.com/Steam_turbine" target="_blank">Steam Turbines</a> producing
            <a href="https://www.reddit.com/r/factorio/comments/761o4u/the_factorio_cheat_sheet_v015/doboeb4/">116.4 MW</a>.
        </li>
    </ul>

    <div class="row align-items-center">
        <div class="col-12 col-lg-9">
            <p class="text-left">You will need about 1 centrifuge to produce U-235 to make fuel for 1 Reactor continuously.</p>
            <p>It takes 1 U-235 and 19 U-238 to create 10 <a href="https://wiki.factorio.com/Uranium_fuel_cell">fuel cells</a>, but you can reprocess 10 used up fuel cells for 6 U-238, making the ratio be 13 U-238 to 1 U-235.
            </p>
        </div>

        <div class="col-12 col-lg-3">
            <p class="text-center">
                    <app-factorio-icon [icon]="dataService.getFactorioIcon('Centrifuge', 1)"></app-factorio-icon>
                    <app-factorio-icon [icon]="dataService.getFactorioIcon('Nuclear_reactor', 1)"></app-factorio-icon>
            </p>
            <p class="text-center">
                    <app-factorio-icon [icon]="dataService.getFactorioIcon('Uranium_fuel_cell', 10)"></app-factorio-icon>
                    <i class="fa fa-long-arrow-left txt-muted" aria-hidden="true"></i>
                    <app-factorio-icon [icon]="dataService.getFactorioIcon('Uranium-235', 1)"></app-factorio-icon>
                    <app-factorio-icon [icon]="dataService.getFactorioIcon('Uranium-238', 13)"></app-factorio-icon>
            </p>
        </div>
    </div>

    <hr>
    <h4 class="card-title">SRE Diagrams</h4>
    <strong>SRE:</strong> Single Reactor Equivalence - Because of the neighbor bonus 1 reactor can became equivalent to up to 5 reactors in certain patterns.
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card text-center" style="margin-bottom:0">
                <div class="card-body row">
                    <div class="col-12 col-sm-6">
                    <h6 class="card-subtitle mb-2 txt-muted">2xN Configuration</h6>
                    <p class="card-text">
                        16 reactors: 2x8, is<br>
                        <kbd>4*3 + 12*4 = 60 SRE</kbd>
                    <p>
                    </div>
                    <div class="col-12 col-sm-6">
                        3 4 4 4 4 4 4 3<br>
                        3 4 4 4 4 4 4 3
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card text-center" style="margin-bottom:0">
                <div class="card-body row">
                    <div class="col-12 col-sm-6">
                    <h6 class="card-subtitle mb-2 txt-muted">NxM Configuration</h6>
                    <p class="card-text">
                        16 reactors: 4x4, is<br>
                        <kbd>4*3 + 8*4 + 4*5 = 64 SRE</kbd>
                    <p>
                    </div>
                    <div class="col-12 col-sm-6">
                            3 4 4 3<br>
                            4 5 5 4<br>
                            4 5 5 4<br>
                            3 4 4 3
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-12 col-lg-5 text-center">
            <strong>Most efficient setup</strong>**: a series of repeating 2x1 reactors
            <img src="{{APP_SETTINGS.links.getLocalImagePath('nuclear-config-h.jpg')}}" class="img-fluid rounded" alt="2x3 Reactor Setup" title="2x3 Reactor Setup">
            <p class="txt-muted">**That gives access to every reactor</p>
        </div>

        <div class="col-12 col-lg-7 text-center">
            <table class="table table-sm table-hover fixed-width text-center">

                <thead class="text-center">
                    <tr>
                        <th colspan="7">
                            <span class="txt-muted">Nuclear Ratio Table</span>
                            <div class="merged-input-group mx-auto" style="max-width:272px">
                                <div class="input-group">
                                    <span class="input-group-addon">Reactor Table Count</span>
                                    <input type="number" class="form-control" [(ngModel)]="reactorInfoCount" min="{{inputStep}}" max="{{reactorInfoCountMax}}" step="{{inputStep}}" (keyup)="getNukeRatios()" (change)="getNukeRatios()" (mouseup)="inputChange()">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Even Only</span>
                                    <span class="input-group-addon">
                                        <input type="checkbox" [(ngModel)]="evenOnly" (change)="getNukeRatios();" aria-label="Even Only or all">
                                    </span>

                                    <span class="input-group-addon">Round Up</span>
                                    <span class="input-group-addon">
                                        <input type="checkbox" [(ngModel)]="roundUp" (change)="getNukeRatios();" aria-label="Round up or Decimal">
                                    </span>
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th><app-factorio-icon [icon]="dataService.getFactorioIcon('Nuclear_reactor', 'Count')"></app-factorio-icon></th>
                        <th><app-factorio-icon [icon]="dataService.getFactorioIcon('Nuclear_reactor', 'Config')"></app-factorio-icon></th>
                        <th><app-factorio-icon [icon]="dataService.getFactorioIcon('Offshore_pump')"></app-factorio-icon></th>
                        <th><app-factorio-icon [icon]="dataService.getFactorioIcon('Heat_exchanger')"></app-factorio-icon></th>
                        <th><app-factorio-icon [icon]="dataService.getFactorioIcon('Steam_turbine')"></app-factorio-icon></th>
                        <th><app-factorio-icon [icon]="dataService.getFactorioIcon('Steam', '*Tanks')"></app-factorio-icon></th>
                        <th><i class="fa fa-bolt fa-2x txt-accent" style="vertical-align: middle" aria-hidden="true"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of reactorTable;">
                        <td>{{item?.reactors}}</td>
                        <td>{{item?.reactorConfig}}</td>
                        <td>{{item?.pumps | number:'1.0-1'}}</td>
                        <td>{{item?.heatExchangers}}</td>
                        <td>{{item?.turbines | number:'1.0-1'}}</td>
                        <td>{{item?.steamTanks | number:'1.0-1'}}</td>
                        <td>{{item?.power}} {{item?.powerUnit}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <p class="txt-muted"><strong>*Note:</strong> This is steam tanks per 1 effective (neighbor bonus) nuclear reactor using 1 fuel rod not including the reactor warmup, or heat stored in the reactor or pipes (both heat and steam).
    </p>

    <hr>

    <h4 class="card-title">Formulas</h4>
    <p>
        See <a href="https://www.reddit.com/r/factorio/comments/67xgge/nuclear_ratios/" target="_blank">Nuclear Ratios</a> Post
        and, <a href="https://wiki.factorio.com/Tutorial:Nuclear_power" target="_blank">Nuclear Guide</a> Wiki
        for more details.
    </p>

    <p><kbd>
    Heat Exchangers (even config) = [Heat Exchangers Per Reactor * 4 * reactors] - [Heat Exchangers Per Reactor * 4]
    </kbd></p>
    <p><kbd>
    Power (even config) = [Reactor Power * 4 * reactors] - [Reactor Power * 4]
    </kbd></p>
    <p><kbd>
    Turbines = [Heat Exchangers * Heat Exchanger Power(10MW)] / [Turbine Power(5.8MW)]
    </kbd></p>
    <p><kbd>
    Pumps = [Turbines] * [Water Per Turbine / Water Per Pump]
    </kbd></p>
    <p><strong>Steam Tanks:</strong> 1 fuel cell creates 8 GJ per reactor (eg 2 reactors puts out 4 solo reactors of energy = 32 GJ).
        <br>Each tank can hold 2.425 GJ worth of steam, or 3.29 tanks per reactor.
    </p>

</app-cheat-sheet>
