<app-cs-common-ratios></app-cs-common-ratios>
<app-belts></app-belts>
<app-balancers></app-balancers>
<app-material-processing></app-material-processing>
<app-mining></app-mining>
<app-science></app-science>
<app-power-steam></app-power-steam>
<app-power-solar></app-power-solar>
<app-nuclear-power></app-nuclear-power>
<app-oil-refining></app-oil-refining>
<app-trains></app-trains>
<app-fluid-wagon-transfer></app-fluid-wagon-transfer>
<app-cargo-wagon-transfer></app-cargo-wagon-transfer>
<app-inserter-throughput></app-inserter-throughput>
<app-inserter-capacity-bonus></app-inserter-capacity-bonus>
<!-- <app-combat></app-combat> -->
<app-modules-and-beacons></app-modules-and-beacons>
<app-productivity-module-payoffs></app-productivity-module-payoffs>
<app-vehicle-fuel-bonus></app-vehicle-fuel-bonus>
<app-train-colors></app-train-colors>
<app-space-age></app-space-age>
<app-tips></app-tips>
<app-links></app-links>
<app-popular-mods></app-popular-mods>
