<app-cheat-sheet [cheatSheet]="cheatSheet">
    <p class="card-text">
        <strong><a href="https://wiki.factorio.com/Balancer_mechanics">Balancers</a></strong> are used to evenly
        distribute items over multiple belts.
    </p>
    <ul>
        <li>
            Balancers that are <strong>input balanced</strong> take evenly from input belts.
        </li>
        <li>
            Balancers that are <strong>output balanced</strong> distribute evenly to output belts.
        </li>
        <li>
            Balancers that are <a href="https://wiki.factorio.com/Balancer_mechanics#Throughput">throughput limited</a>
            may not be able to provide maximum output due to bottlenecks in the design.
        </li>
    </ul>
    <hr>
    <div class="row">
        <div class="col-12 col-md-7 align-items-center text-center">
            <p>
                <strong>4 to 4 balancer</strong>
                <br>
                <img src="{{APP_SETTINGS.links.getLocalImagePath('4-to-4-balancer.png')}}" class="img-fluid rounded"
                    alt="4 to 4 Balancer" title="4 to 4 Balancer">
            </p>
            <p>
                <strong>1 belt lane balancer</strong>
                <br>
                <img src="{{APP_SETTINGS.links.getLocalImagePath('1-lane-balancer.png')}}" class="img-fluid rounded"
                    alt="1 Belt Lane Balancer" title="1 Belt Lane Balancer">
            </p>
        </div>
        <div class="col-12 col-md-5">
            <table class="table table-sm table-hover fixed-width align-items-center text-center">
                <caption>Sample <a href="https://gist.github.com/Bilka2/aeec4ff7123ff5544cb9a80cf1046a06">
                        Bilka's Balancer</a> Blueprints
                </caption>
                <thead>
                    <tr>
                        <th>Blueprint</th>
                        <th>Tiers included</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-template #tipContent_Source>Source</ng-template>
                    <tr *ngFor="let blueprintBook of sheetData?.table; let i=index">
                        <td class="text-left">
                            <ng-template #tipContent>{{tooltipMsgs[i]}}</ng-template>
                            <button class="btn btn-link txt-factorio-blue" (click)="copyBpString(blueprintBook.url, i)"
                                [ngbTooltip]="tipContent" [autoClose]="false" [disabled]="!blueprintStrings[i]">
                                <i class="fas fa-book"></i>
                            </button>
                            <a href="{{blueprintBook.url}}" target="_blank" [ngbTooltip]="tipContent_Source">
                                <i class="fas fa-external-link-alt"></i>
                            </a>
                            {{blueprintBook.name}}
                        </td>
                        <td>
                            <app-factorio-icon [ngStyle]="visibility(blueprintBook.yellow)" [icon]="dataService.getFactorioIcon('Splitter')"></app-factorio-icon>
                            <app-factorio-icon [ngStyle]="visibility(blueprintBook.red)" [icon]="dataService.getFactorioIcon('Fast_splitter')"></app-factorio-icon>
                            <app-factorio-icon [ngStyle]="visibility(blueprintBook.blue)" [icon]="dataService.getFactorioIcon('Express_splitter')"></app-factorio-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="txt-muted" *ngFor="let foot of sheetData?.footnotes">{{foot}}</p>
        </div>
    </div>

    <hr>

    <div class="row text-center">
        <div class="col-12 col-lg-6">
            <a href="https://imgur.com/gallery/Qtv6xHD">Old wiki balancer page</a> screenshot
            <br>

            <a href="https://www.reddit.com/r/factorio/comments/9y4zjl/standard_56_67_and_78_balancers_dont_quite/">
                More balancers
            </a> from raynquist
            <br>
        </div>
        <div class="col-12 col-lg-6">
            <a href="https://www.reddit.com/r/factorio/comments/9x3m14/i_couldnt_find_a_general_guide_to_balancers_so_i/">
                Balancer Guide
            </a> by CptTrifonius
            <br>

            <a href="https://forums.factorio.com/viewtopic.php?t=61424">
                Balancer Guide
            </a> by EX_plode
        </div>
    </div>
</app-cheat-sheet>
