<app-cheat-sheet [cheatSheet]="cheatSheet">

    <p>
        See more
        <a href="https://wiki.factorio.com/Tutorial:Keyboard_shortcuts" target="_blank" rel="noopener">keyboard shortcuts</a>
        on the wiki.
    </p>

    <ul>
        <li>The <kbd>Alt</kbd> key will reveal detailed information on entities.</li>
        <li>
            You can rotate entities with <kbd>R</kbd>,
            even when already placed, <kbd>Shift+R</kbd> for the opposite.
        </li>
        <li>
            Inserters will always place items on the furthest side of the belt,
            and prioritize taking items from the closest.
        </li>
        <li>
            Hold <kbd>Shift</kbd> while building
            to place a ghost of the item (single entity blueprint).
        </li>
        <li>
            <kbd>Shift+RightClick</kbd> will copy entity configurations,
            <kbd>Shift+LeftClick</kbd> will paste them.
            <ul>
                <li>This works for: filter inserters, assemblers, requester chests, combinators, etc...</li>
                <li>You can paste across multiple entities by dragging.</li>
                <li>
                    You can copy from assemblers into requester chests
                    (requests the required amount to craft 30 seconds worth of the item production).
                </li>
            </ul>
        </li>
        <li>Placing over ghosts will preserve the recipes</li>
        <li>
            Hover over an entity and press <kbd>Q</kbd> to quick-select it from your inventory.
            <ul>
                <li>Press <kbd>Q</kbd> on ores to select miners.</li>
            </ul>
        </li>
        <li>
            You can use standard <kbd>CTRL+C</kbd>, <kbd>CTRL+V</kbd>,
            <kbd>CTRL+X</kbd>, <kbd>CTRL+Z</kbd> commands to copy, paste, cut and undo your builds.
        </li>
        <li>You can move science packs between labs with inserters.</li>
        <li>
            Fluids can move through boilers, tanks,
            and electric mining drills (only when mining uranium).
        </li>
        <li>
            Using underground pipes counts as less entities then
            if straight pipe for same distance, increasing game performance.
        </li>
        <li>Blueprints can be used from map view when
            zoomed in on a revealed area of the map (near the player or by radar).
        </li>
        <li>
            <kbd>Numpad+</kbd> / <kbd>Numpad-</kbd> can be used to
            increase / decrease the size of any placed tile
            (such as landfill or concrete).
        </li>
        <li>Trains snap into position when placed at train stations.</li>
        <li>
            You can build rails outside your normal build range
            as long as you start inside the range.
        </li>
        <li>Clear Blueprint or Deconstruction Planner Filters by <kbd>Shift+RightClick</kbd></li>
        <li>
            For <strong>Lazy Bastard Achievement</strong> Open Console,
            type <kbd>/permissions</kbd>, Disable <i>Craft</i>.
        </li>
        <li>
            Map ping tags can be created by <kbd>Shift+LeftClick</kbd> the ground/map.
        </li>
        <li>
            Rich text "<i>[item=iron-plate]</i>" is displayed as the iron plate icon.
        </li>
        <li>
            <a href="https://www.reddit.com/r/factorio/comments/8zvbfn/til_you_can_display_signal_states_on_the_map/" target="_blank" rel="noopener">
                Display signal states
            </a>
            on the map by enabling <strong>"show-rail-signal-states"</strong>
            in the <kbd>F4</kbd> debug menu.
        </li>
    </ul>

    <div class="row">
        <div class="col text-center">
            Underground belts can be side loaded, this will drain only 1 lane of a belt. <br>
            <img src="{{APP_SETTINGS.links.getLocalImagePath('belt-tip-sideload.png')}}" class="img-fluid rounded" style="max-height: 250px; width: auto;" alt="Side Load Underground" title="Side Load Underground">
        </div>
        <div class="col text-center">
            Splitters can have an item filter set on a specific lane <br>
            <img src="{{APP_SETTINGS.links.getLocalImagePath('belt-tip-filter.png')}}" class="img-fluid rounded" style="max-height: 250px; width: auto;" alt="Splitter Filter" title="Splitter Filter">
        </div>
    </div>

</app-cheat-sheet>
