<app-cheat-sheet [cheatSheet]="cheatSheet">

    <p>See more <a href="https://wiki.factorio.com/Tutorial:Keyboard_shortcuts">keyboard shortcuts</a> on the wiki.</p>

    <ul>
        <li>The <kbd>Alt</kbd> key will reveal detailed information on entities.</li>
        <li>Trains snap into position when placed at train stations.</li>
        <li>You can rotate entities with <kbd>R</kbd>, even when already placed, <kbd>Shift+R</kbd> for the opposite.</li>
        <li>Inserters will always place items on the furthest side of the belt, and prioritise taking items from the closest.</li>
        <li>Hold <kbd>Shift</kbd> while building to place a ghost of the item (single entity blueprint).</li>
        <li>
            <kbd>Shift+RightClick</kbd> will copy entity configurations, <kbd>Shift+LeftClick</kbd> will paste them.
            <ul>
                <li>This works for: filter inserters, assemblers, requester chests, combinators, ...</li>
                <li>You can paste across multiple entities by dragging.</li>
                <li>You can copy from assemblers into requester chests (requests the required amount to craft 30 seconds worth of the item production).</li>
            </ul>
        </li>
        <li>Placing over ghosts will preserve the recipes</li>
        <li>
            Hover over an entity and press <kbd>Q</kbd> to quick-select it from your inventory.
            <ul>
                <li>Press <kbd>Q</kbd> on ores to select miners.</li>
            </ul>
        </li>
        <li>Any item with a “fuel value” in its description can be used as fuel (including wooden chests & wooden power poles).</li>
        <li>You can move potions between labs with inserters.</li>
        <li>Fluids can move through boilers, tanks, and electric mining drills (only when mining uranium).</li>
        <li>Blueprints can be used from map view when zoomed in on a revealed area of the map (near the player or by radar).</li>
        <li><kbd>Numpad+</kbd> / <kbd>Numpad-</kbd> can be used to increase / decrease the size of any placed tile (such as landfill
            or concrete).
        </li>
        <li>You can build rails outside your normal build range as long as you start inside the range.</li>
        <li>Clear Blueprint or Deconstruction Planner Fileters by <kbd>Shift+RightClick</kbd></li>
        <li>For <strong>Lazy Bastard Achievement</strong> Open Console, type <kbd>/permissions</kbd>, Disable <i>Craft</i></li>
    </ul>
    <div class="row">
        <div class="col text-center">
            Underground belts can be sideloaded, this will drain only 1 lane of a belt. <br>
            <img src="{{APP_SETTINGS.links.getLocalImagePath('underground-belt-sideload.jpg')}}" class="img-fluid rounded" style="max-height: 250px; width: auto;" alt="Side Load Underground" title="Side Load Underground">
        </div>
        <div class="col text-center">
            Splitters can have an item filter set on a specific lane <br>
            <img src="{{APP_SETTINGS.links.getLocalImagePath('splitter-filter.jpg')}}" class="img-fluid rounded" style="max-height: 250px; width: auto;" alt="Splitter Filter" title="Splitter Filter">
        </div>
    </div>

</app-cheat-sheet>
