<app-cheat-sheet [cheatSheet]="cheatSheet">
  <p>
    How long it takes for the use of modules with the given setup to "pay for itself"
    <br />
    Based on
    <a href="https://docs.google.com/spreadsheets/d/1M3bbVKSs3IWzLtBHEbe0iJcbnh7raERDcL6dOh1y3oY/" target="_blank" rel="noopener">
      MadZuri's
      <abbr title="Return on Investment">ROI</abbr>
      Calculations
    </a>
    <br />
    Shorter times are the best things to invest productivity modules into.
  </p>

  <ngb-pagination
    class="d-flex justify-content-center"
    [collectionSize]="tableDataSource$.value.length"
    [pageSize]="pageSize$.value"
    [page]="currentPage$.value"
    (pageChange)="currentPage$.next($event)"
  >
  </ngb-pagination>

  <table class="table table-sm table-hover fixed-width text-center" [dataSource]="dataOnPage$" cdk-table>
    <!-- Column product -->
    <ng-container cdkColumnDef="product">
      <th *cdkHeaderCellDef cdk-header-cell>Product</th>
      <td *cdkCellDef="let data" cdk-cell>
        <app-factorio-icon [icon]="dataService.getFactorioIcon(data.productIconId)"> </app-factorio-icon>
      </td>
    </ng-container>

    <!-- Column payoff_speed_prod -->
    <ng-container cdkColumnDef="payoff_speed_prod">
      <th class="sorted" *cdkHeaderCellDef (click)="adjustSort('payoff_speed_prod')" cdk-header-cell>
        <span *ngIf="sortKey$.value === 'payoff_speed_prod'">
          <span *ngIf="sortDirection$.value === 'asc'">
            <i class="fas fa-sort-up fa-fw fa-lg"></i>
          </span>
          <span *ngIf="sortDirection$.value !== 'asc'">
            <i class="fas fa-sort-down fa-fw fa-lg"></i>
          </span>
        </span>
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_SpeedModule3, 1)"> </app-factorio-icon>
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_ProductivityModule3, 3)"> </app-factorio-icon>
      </th>
      <td *cdkCellDef="let data" cdk-cell>
        {{ data.payoff_speed_prod | time }}
      </td>
    </ng-container>

    <!-- Column payoff_prod -->
    <ng-container cdkColumnDef="payoff_prod">
      <th class="sorted" *cdkHeaderCellDef (click)="adjustSort('payoff_prod')" cdk-header-cell>
        <span *ngIf="sortKey$.value === 'payoff_prod'">
          <span *ngIf="sortDirection$.value === 'asc'">
            <i class="fas fa-sort-up fa-fw fa-lg"></i>
          </span>
          <span *ngIf="sortDirection$.value !== 'asc'">
            <i class="fas fa-sort-down fa-fw fa-lg"></i>
          </span>
        </span>
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_ProductivityModule3, 4)"> </app-factorio-icon>
      </th>
      <td *cdkCellDef="let data" cdk-cell>
        {{ data.payoff_prod | time }}
      </td>
    </ng-container>

    <!-- Column payoff_beacon_4x4 -->
    <ng-container cdkColumnDef="payoff_beacon_4x4">
      <th class="sorted" *cdkHeaderCellDef (click)="adjustSort('payoff_beacon_4x4')" cdk-header-cell>
        <span *ngIf="sortKey$.value === 'payoff_beacon_4x4'">
          <span *ngIf="sortDirection$.value === 'asc'">
            <i class="fas fa-sort-up fa-fw fa-lg"></i>
          </span>
          <span *ngIf="sortDirection$.value !== 'asc'">
            <i class="fas fa-sort-down fa-fw fa-lg"></i>
          </span>
        </span>
        <app-factorio-icon
          [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_Beacon, '4||4')"
          title="4x4 beacon 'sandwich' around a machine"
        >
        </app-factorio-icon>
      </th>
      <td *cdkCellDef="let data" cdk-cell>
        {{ data.payoff_beacon_4x4 | time }}
      </td>
    </ng-container>

    <!-- Column payoff_beacon_12 -->
    <ng-container cdkColumnDef="payoff_beacon_12">
      <th class="sorted" *cdkHeaderCellDef (click)="adjustSort('payoff_beacon_12')" cdk-header-cell>
        <span *ngIf="sortKey$.value === 'payoff_beacon_12'">
          <span *ngIf="sortDirection$.value === 'asc'">
            <i class="fas fa-sort-up fa-fw fa-lg"></i>
          </span>
          <span *ngIf="sortDirection$.value !== 'asc'">
            <i class="fas fa-sort-down fa-fw fa-lg"></i>
          </span>
        </span>
        <app-factorio-icon
          [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_Beacon, '(12)')"
          title="12 beacon 'circle' around a machine"
        >
        </app-factorio-icon>
      </th>
      <td *cdkCellDef="let data" cdk-cell>
        {{ data.payoff_beacon_12 | time }}
      </td>
    </ng-container>

    <!-- Header and Row Declarations -->
    <tr *cdkHeaderRowDef="displayedColumns" cdk-header-row></tr>
    <tr *cdkRowDef="let row; columns: displayedColumns" cdk-row></tr>
  </table>

  <hr />

  <span class="text-muted">
    <a href="https://github.com/deniszholob/factorio-cheat-sheet/issues/345" target="_blank" rel="noopener noreferrer">Notes</a>:
  </span>
  <ul class="text-muted">
    <li>For the costs, all minerals count as 1 and all oil liquids as 0.1, water is free.</li>
    <li>You can actually see how each cost is calculated in the spreadsheet, in the columns R and S.</li>
  </ul>
</app-cheat-sheet>
