<div class="card cheat-sheet" id="{{ id }}">
  <div class="card-header" (click)="toggleCollapse()">
    <a href="#{{ id }}">
      <app-factorio-icon [icon]="factorioIcon"></app-factorio-icon>
      <h3 class="card-title">
        {{ title }}
      </h3>
    </a>

    <button class="card-collapse" *ngIf="isCollapsed" aria-label="Expand">
      <i class="fa fa-plus" aria-hidden="true" title="Expand"></i>
    </button>
    <button class="card-collapse" *ngIf="!isCollapsed" aria-label="Collapse">
      <i class="fa fa-minus" aria-hidden="true" title="Collapse"></i>
    </button>
  </div>

  <div class="card-body" [ngbCollapse]="!!isCollapsed">
    <ng-content></ng-content>

    <app-ad-sense *ngIf="!isCollapsed">
      <ins
        class="adsbygoogle"
        data-ad-format="fluid"
        data-ad-layout-key="-gw-3+1f-3d+2z"
        data-ad-client="ca-pub-8345050037615230"
        data-ad-slot="3302402251"
      >
      </ins>
    </app-ad-sense>
  </div>
</div>
