<div class="container">
    <h2>Overview</h2>
    <hr>
    <p class="lead">
        <i aria-hidden="true" class="fa fa-cog"></i>
        <a href="https://www.factorio.com/" target="_blank"> Factorio</a> is a game in which you build and maintain factories.<br>
        <small class="txt-muted">This is a compendium of the most common Factorio facts (v{{APP_SETTINGS.app.version}}).</small>
    </p>

    <p>
        A huge thanks to the community who made the
        <a href="#Credits">previous cheat sheets</a>
        and other resources; such as the
        <a href="https://wiki.factorio.com/" target="_blank">Wiki</a>,
        <a href="https://www.reddit.com/r/factorio" target="_blank">Reddit</a>, and
        <a href="https://discordapp.com/invite/factorio" target="_blank">Factorio Discord</a> from which this is all based on.
        This is only a sliver of the info available, for more in depth information please visit those resources.
    </p>

    <div class="row">
        <div class="col-12">
            Some notes:
            <ul>
                <li>
                    The <a href="https://wiki.factorio.com/" target="_blank">Wiki</a> has the latest updates,
                    if there is a discrepancy in data, please
                    <a href="https://github.com/deniszholob/factorio-cheat-sheet/issues" target="_blank">let me know</a>
                    so I can sync up with the Wiki.
                </li>
                <li>Any section that deals with ratios assume no modules and consistent assembly machines.</li>
                <li>Ratio sections are intended only as a starting point, for advanced ratios use a
                    <a href="http://doomeer.com/factorio/">calculator</a>.
                </li>
                <li>Any of the sections can be collapsed/expanded by toggling the top right corner (-/+).</li>
                <li>
                    Please report any errors/suggestions on
                    <a href="https://github.com/deniszholob/factorio-cheat-sheet/issues" target="_blank">Github</a>,
                    <a href="https://discord.gg/hmwb3dB" target="_blank">Discord</a>, or
                    <a href="https://www.reddit.com/r/factorio/comments/761o4u/the_factorio_cheat_sheet_v015/" target="_blank">Reddit</a>.
                </li>
                <li><a href="https://github.com/deniszholob/factorio-cheat-sheet/issues" target="_blank">Known Issues</a></li>
            </ul>

            <p class="txt-muted">If you found the cheat sheet useful, consider supporting me on
                <a href="https://www.patreon.com/deniszholob" target="_blank">Patreon</a>.
            </p>
        </div>
    </div>

</div>
