<div class="container">
    <h2>Overview</h2>
    <hr>
    <p class="lead">
        <i aria-hidden="true" class="fa fa-gear"></i>
        <a href="https://www.factorio.com/">Factorio</a> is a game in which you build and maintain factories.
    </p>
    <p>This is a compendium of the most common Factorio facts.</p>
    Some notes:
    <ul>
        <li>
            Check the <a href="https://wiki.factorio.com/">Wiki</a>,
            <a href="https://www.reddit.com/r/factorio">Reddit</a>, and
            <a href="https://discordapp.com/invite/factorio">Factorio Discord</a> for more in depth information/discussion.
        </li>
        <li>Any section that deal with ratios assume no modules and consistent assembly machines.</li>
        <li>Ratio sections are intended only as a starting point, for advanced ratios use a <a href="http://doomeer.com/factorio/">calculator</a>.</li>
        <li>Any of the sections can be collapsed/expanded by toggling the top right corner of each.</li>
        <li>Please report any errors/suggestions on <a href="https://github.com/DDDGamer/factorio-cheat-sheet/issues">Github</a> or <a href="https://discord.gg/hmwb3dB">Discord</a>.</li>
    </ul>
</div>
