# CI/CD for Github Actions
# @author Denis Zholob (deniszholob.com)
# ====================================== #

name: Build Test Branch

# Controls when the workflow will run
on:
  # Run on PRs
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '18.12.1'

      - name: Get npm cache directory
        id: npm-cache-dir
        run: echo "::set-output name=dir::$(npm config get cache)"

      - name: Cache node modules
        id: npm-cache
        uses: actions/cache@v4
        with:
          path: ${{steps.npm-cache-dir.outputs.dir}}
          key: ${{runner.os}}-node-${{hashFiles('**/package.json')}}
          restore-keys: |
            ${{runner.os}}-node-
            ${{runner.os}}-

      - name: Install NPM Dependencies
        run: npm ci

      - name: Check lint
        run: npm run lint

      - name: Build
        run: sh ./build/build.sh # Generates the public folder with built angular app

      # Save public artifacts for deployment jobs
      # https://docs.github.com/en/actions/learn-github-actions/essential-features-of-github-actions#sharing-data-between-jobs
      - name: Archive web demo build
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: public
          path: public # Directory to push to GitHub Pages


  # Ref: https://github.com/firebase/firebase-tools
  # deploy-firebase:
  #   runs-on: ubuntu-latest
  #   needs: build
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4

  #     - name: Download build
  #       uses: actions/download-artifact@v4
  #       with:
  #         name: public
  #         path: public

  #     - name: Display structure of downloaded files
  #       run: ls -R
  #       working-directory: public

  #     - name: Deploy to Firebase
  #       uses: FirebaseExtended/action-hosting-deploy@v0
  #       with:
  #         repoToken: '${{ secrets.GITHUB_TOKEN }}'
  #         firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_FACTORIO_CHEAT_SHEET }}'
  #         projectId: factorio-cheat-sheet
  #         channelId: preview
